<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf2xml SYSTEM "pdf2xml.dtd">

<pdf2xml producer="poppler" version="0.41.0">
<page number="1" position="absolute" top="0" left="0" height="1536" width="1152">
	<fontspec id="0" size="70" family="Times" color="#ffffff"/>
	<fontspec id="1" size="70" family="Times" color="#ffffff"/>
	<fontspec id="2" size="25" family="Times" color="#ffffff"/>
<image top="0" left="0" width="1152" height="1544" src="cover.png"/>
<bookmark name="ALL"/>
<text top="337" left="242" width="416" height="96" font="0"><b>explore key  </b></text>
<text top="424" left="242" width="504" height="96" font="0"><b>data on the P20</b></text>
<text top="511" left="242" width="584" height="89" font="1">select your region:</text>
<button top="1196" left="364" width="224" height="72" pl="60" pr="30" pt="15" pb="20" href="LAC"/>
<text top="1196" left="364" width="175" height="36" font="2"><a href="#LAC"><b>Latin America  </b></a></text>
<text top="1229" left="364" width="224" height="36" font="2"><a href="#LAC"><b>and the Caribbean</b></a></text>
<button top="1168" left="869" width="100" height="36" pl="30" pr="60" pt="15" pb="25" href="Oceania"/>
<text top="1168" left="869" width="100" height="36" font="2"><a href="#Oceania"><b>Oceania</b></a></text>
<button top="1083" left="646" width="72" height="36" pl="60" pr="30" pt="15" pb="25" href="Africa"/>
<text top="1083" left="646" width="72" height="36" font="2"><a href="#Africa"><b>Africa</b></a></text>
<button top="941" left="877" width="52" height="36" pl="60" pr="30" pt="15" pb="25" href="Asia"/>
<text top="941" left="877" width="52" height="36" font="2"><a href="#Asia"><b>Asia</b></a></text>
<button top="941" left="616" width="87" height="36" pl="60" pr="30" pt="15" pb="25" href="Europe"/>
<text top="941" left="616" width="87" height="36" font="2"><a href="#Europe"><b>Europe</b></a></text>
<button top="941" left="209" width="178" height="36" pl="60" pr="30" pt="15" pb="25" href="NA"/>
<text top="941" left="209" width="178" height="36" font="2"><a href="#NA"><b>North America</b></a></text>
</page>
<page number="2" position="absolute" top="0" left="0" height="6138" width="1152">
	<fontspec id="3" size="21" family="Times" color="#ffffff"/>
	<fontspec id="4" size="70" family="Times" color="#453e43"/>
	<fontspec id="5" size="46" family="Times" color="#e9443a"/>
	<fontspec id="6" size="34" family="Times" color="#453e43"/>
	<fontspec id="7" size="34" family="Times" color="#453e43"/>
<image top="8" left="0" width="1152" height="6138" src="toc1.png"/>
<bookmark name="Africa"/>
<button top="84" left="951" width="111" height="32" pl="45" pr="17" pt="7" pb="25" href="ALL"/>
<text top="84" left="951" width="111" height="32" font="3"><a href="#ALL"><b>all regions</b></a></text>
<text top="107" left="72" width="192" height="96" font="4"><b>Africa</b></text>
<text top="257" left="72" width="336" height="64" font="5"><b>Northern Africa</b></text>
<button top="360" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="algeria"/>
<text top="360" left="72" width="110" height="44" font="6"><a href="#algeria">Algeria</a></text>
<button top="450" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="egypt"/>
<text top="450" left="72" width="90" height="44" font="6"><a href="#egypt">Egypt</a></text>
<button top="540" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="libya"/>
<text top="540" left="72" width="358" height="44" font="6"><a href="#libya">State of Libya</a></text>
<button top="630" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="morocco"/>
<text top="630" left="72" width="145" height="44" font="6"><a href="#morocco">Morocco</a></text>
<button top="720" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="tunisia"/>
<text top="720" left="72" width="105" height="44" font="6"><a href="#tunisia">Tunisia</a></text>
<button top="810" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="western-sahara"/>
<text top="810" left="72" width="244" height="44" font="6"><a href="#western-sahara">Western Sahara</a></text>
<text top="959" left="72" width="413" height="64" font="5"><b>Sub-Saharan Africa</b></text>
<text top="1097" left="72" width="222" height="48" font="7"><b>Eastern Africa</b></text>
<button top="1188" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="burundi"/>
<text top="1188" left="72" width="120" height="44" font="6"><a href="#burundi">Burundi</a></text>
<button top="1278" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="comoros"/>
<text top="1278" left="72" width="147" height="44" font="6"><a href="#comoros">Comoros</a></text>
<button top="1368" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="djibouti"/>
<text top="1368" left="72" width="120" height="44" font="6"><a href="#djibouti">Djibouti</a></text>
<button top="1458" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="eritrea"/>
<text top="1458" left="72" width="97" height="44" font="6"><a href="#eritrea">Eritrea</a></text>
<button top="1548" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="ethiopia"/>
<text top="1548" left="72" width="125" height="44" font="6"><a href="#ethiopia">Ethiopia</a></text>
<button top="1638" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="kenya"/>
<text top="1638" left="72" width="97" height="44" font="6"><a href="#kenya">Kenya</a></text>
<button top="1728" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="madagascar"/>
<text top="1728" left="72" width="194" height="44" font="6"><a href="#madagascar">Madagascar</a></text>
<button top="1818" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="malawi"/>
<text top="1818" left="72" width="113" height="44" font="6"><a href="#malawi">Malawi</a></text>
<button top="1908" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="mauritius"/>
<text top="1908" left="72" width="141" height="44" font="6"><a href="#mauritius">Mauritius</a></text>
<button top="1998" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="mozambique"/>
<text top="1998" left="72" width="211" height="44" font="6"><a href="#mozambique">Mozambique</a></text>
<button top="2088" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="rwanda"/>
<text top="2088" left="72" width="128" height="44" font="6"><a href="#rwanda">Rwanda</a></text>
<button top="2178" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="seychelles"/>
<text top="2178" left="72" width="129" height="44" font="6"><a href="#seychelles">Seychelles</a></text>
<button top="2268" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="somalia"/>
<text top="2268" left="72" width="123" height="44" font="6"><a href="#somalia">Somalia</a></text>
<button top="2358" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="south-sudan"/>
<text top="2358" left="72" width="131" height="44" font="6"><a href="#south-sudan">South Sudan</a></text>
<button top="2448" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="sudan"/>
<text top="2448" left="72" width="98" height="44" font="6"><a href="#sudan">Sudan</a></text>
<button top="2538" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="uganda"/>
<text top="2538" left="72" width="125" height="44" font="6"><a href="#uganda">Uganda</a></text>
<button top="2628" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="tanzania"/>
<text top="2628" left="72" width="438" height="44" font="6"><a href="#tanzania">United Republic of Tanzania</a></text>
<button top="2718" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="zambia"/>
<text top="2718" left="72" width="118" height="44" font="6"><a href="#zambia">Zambia</a></text>
<button top="2808" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="zimbabwe"/>
<text top="2808" left="72" width="172" height="44" font="6"><a href="#zimbabwe">Zimbabwe</a></text>
<text top="2933" left="72" width="220" height="48" font="7"><b>Middle Africa</b></text>
<button top="3024" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="angola"/>
<text top="3024" left="72" width="112" height="44" font="6"><a href="#angola">Angola</a></text>
<button top="3114" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="cameroon"/>
<text top="3114" left="72" width="168" height="44" font="6"><a href="#cameroon">Cameroon</a></text>
<button top="3204" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="car"/>
<text top="3204" left="72" width="377" height="44" font="6"><a href="#car">Central African Republic</a></text>
<button top="3294" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="chad"/>
<text top="3294" left="72" width="84" height="44" font="6"><a href="#chad">Chad</a></text>
<button top="3384" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="congo"/>
<text top="3384" left="72" width="109" height="44" font="6"><a href="#congo">Republic of Congo</a></text>
<button top="3474" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="drc"/>
<text top="3474" left="72" width="548" height="44" font="6"><a href="#drc">Democratic Republic of the Congo</a></text>
<button top="3564" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="equatorial-guinea"/>
<text top="3564" left="72" width="276" height="44" font="6"><a href="#equatorial-guinea">Equatorial Guinea</a></text>
<button top="3654" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="gabon"/>
<text top="3654" left="72" width="109" height="44" font="6"><a href="#gabon">Gabon</a></text>
<button top="3744" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="sao-tome-and-principe"/>
<text top="3744" left="72" width="362" height="44" font="6"><a href="#sao-tome-and-principe">Sao Tome and Principe</a></text>
<text top="3869" left="72" width="251" height="48" font="7"><b>Southern Africa</b></text>
<button top="3960" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="botswana"/>
<text top="3960" left="72" width="153" height="44" font="6"><a href="#botswana">Botswana</a></text>
<button top="4050" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="lesotho"/>
<text top="4050" left="72" width="126" height="44" font="6"><a href="#lesotho">Lesotho</a></text>
<button top="4140" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="namibia"/>
<text top="4140" left="72" width="131" height="44" font="6"><a href="#namibia">Namibia</a></text>
<button top="4230" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="south-africa"/>
<text top="4230" left="72" width="189" height="44" font="6"><a href="#south-africa">South Africa</a></text>
<button top="4320" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="swaziland"/>
<text top="4320" left="72" width="158" height="44" font="6"><a href="#swaziland">Swaziland</a></text>
<text top="4445" left="72" width="241" height="48" font="7"><b>Western Africa</b></text>
<button top="4536" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="benin"/>
<text top="4536" left="72" width="87" height="44" font="6"><a href="#benin">Benin</a></text>
<button top="4626" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="burkina-faso"/>
<text top="4626" left="72" width="194" height="44" font="6"><a href="#burkina-faso">Burkina Faso</a></text>
<button top="4716" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="cape-verde"/>
<text top="4716" left="72" width="190" height="44" font="6"><a href="#cape-verde">Cape Verde</a></text>
<button top="4806" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="cote-d-ivoire"/>
<text top="4806" left="72" width="202" height="44" font="6"><a href="#cote-d-ivoire">Côte d’Ivoire</a></text>
<button top="4896" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="gambia"/>
<text top="4896" left="72" width="124" height="44" font="6"><a href="#gambia">Gambia</a></text>
<button top="4986" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="ghana"/>
<text top="4986" left="72" width="103" height="44" font="6"><a href="#ghana">Ghana</a></text>
<button top="5076" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="guinea"/>
<text top="5076" left="72" width="112" height="44" font="6"><a href="#guinea">Guinea</a></text>
<button top="5166" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="guinea-bissau"/>
<text top="5166" left="72" width="220" height="44" font="6"><a href="#guinea-bissau">Guinea-Bissau</a></text>
<button top="5256" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="liberia"/>
<text top="5256" left="72" width="104" height="44" font="6"><a href="#liberia">Liberia</a></text>
<button top="5346" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="mali"/>
<text top="5346" left="72" width="65" height="44" font="6"><a href="#mali">Mali</a></text>
<button top="5436" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="mauritania"/>
<text top="5436" left="72" width="163" height="44" font="6"><a href="#mauritania">Mauritania</a></text>
<button top="5526" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="niger"/>
<text top="5526" left="72" width="87" height="44" font="6"><a href="#niger">Niger</a></text>
<button top="5616" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="nigeria"/>
<text top="5616" left="72" width="113" height="44" font="6"><a href="#nigeria">Nigeria</a></text>
<button top="5706" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="senegal"/>
<text top="5706" left="72" width="127" height="44" font="6"><a href="#senegal">Senega</a>l</text>
<button top="5796" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="sierra-leone"/>
<text top="5796" left="72" width="195" height="44" font="6"><a href="#sierra-leone">Sierra Leone</a></text>
<button top="5886" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="togo"/>
<text top="5886" left="72" width="82" height="44" font="6"><a href="#togo">Togo</a></text>
</page>
<page number="3" position="absolute" top="0" left="0" height="5680" width="1152">
<image top="8" left="0" width="1152" height="5680" src="toc2.png"/>
<bookmark name="Asia"/>
<button top="84" left="951" width="111" height="32" pl="45" pr="17" pt="7" pb="25" href="ALL"/>
<text top="84" left="951" width="111" height="32" font="3"><a href="#ALL"><b>all regions</b></a></text>
<text top="107" left="72" width="138" height="96" font="4"><b>Asia</b></text>
<text top="257" left="72" width="258" height="64" font="5"><b>Central Asia</b></text>
<button top="360" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="kazakhstan"/>
<text top="360" left="72" width="174" height="44" font="6"><a href="#kazakhstan">Kazakhstan</a></text>
<button top="450" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="kyrgyzstan"/>
<text top="450" left="72" width="171" height="44" font="6"><a href="#kyrgyzstan">Kyrgyzstan</a></text>
<button top="540" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="tajikistan"/>
<text top="540" left="72" width="140" height="44" font="6"><a href="#tajikistan">Tajikistan</a></text>
<button top="630" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="turkmenistan"/>
<text top="630" left="72" width="208" height="44" font="6"><a href="#turkmenistan">Turkmenistan</a></text>
<button top="720" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="uzbekistan"/>
<text top="720" left="72" width="172" height="44" font="6"><a href="#uzbekistan">Uzbekistan</a></text>
<text top="869" left="72" width="260" height="64" font="5"><b>Eastern Asia</b></text>
<button top="972" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="china"/>
<text top="972" left="72" width="89" height="44" font="6"><a href="#china">China</a></text>
<button top="1062" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="hong-kong"/>
<text top="1062" left="72" width="761" height="44" font="6"><a href="#hong-kong">China, Hong Kong Special Administrative Region</a></text>
<button top="1152" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="macao"/>
<text top="1152" left="72" width="689" height="44" font="6"><a href="#macao">China, Macao Special Administrative Region</a></text>
<button top="1242" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="dprk"/>
<text top="1242" left="72" width="611" height="44" font="6"><a href="#dprk">Democratic People’s Republic of Korea</a></text>
<button top="1332" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="japan"/>
<text top="1332" left="72" width="91" height="44" font="6"><a href="#japan">Japan</a></text>
<button top="1422" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="mongolia"/>
<text top="1422" left="72" width="150" height="44" font="6"><a href="#mongolia">Mongolia</a></text>
<button top="1512" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="korea"/>
<text top="1512" left="72" width="279" height="44" font="6"><a href="#korea">Republic of Korea</a></text>
<text top="1661" left="72" width="405" height="64" font="5"><b>South-Eastern Asia</b></text>
<button top="1764" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="brunei-darussalam"/>
<text top="1764" left="72" width="285" height="44" font="6"><a href="#brunei-darussalam">Brunei Darussalam</a></text>
<button top="1854" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="cambodia"/>
<text top="1854" left="72" width="165" height="44" font="6"><a href="#cambodia">Cambodia</a></text>
<button top="1944" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="indonesia"/>
<text top="1944" left="72" width="153" height="44" font="6"><a href="#indonesia">Indonesia</a></text>
<button top="2034" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="laos"/>
<text top="2034" left="72" width="535" height="44" font="6"><a href="#laos">Lao People’s Democratic Republic</a></text>
<button top="2124" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="malaysia"/>
<text top="2124" left="72" width="135" height="44" font="6"><a href="#malaysia">Malaysia</a></text>
<button top="2214" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="myanmar"/>
<text top="2214" left="72" width="148" height="44" font="6"><a href="#myanmar">Myanmar</a></text>
<button top="2304" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="philippines"/>
<text top="2304" left="72" width="168" height="44" font="6"><a href="#philippines">Philippines</a></text>
<button top="2394" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="singapore"/>
<text top="2394" left="72" width="161" height="44" font="6"><a href="#singapore">Singapore</a></text>
<button top="2484" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="thailand"/>
<text top="2484" left="72" width="132" height="44" font="6"><a href="#thailand">Thailand</a></text>
<button top="2574" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="timor-leste"/>
<text top="2574" left="72" width="185" height="44" font="6"><a href="#timor-leste">Timor-Leste</a></text>
<button top="2664" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="viet-nam"/>
<text top="2664" left="72" width="145" height="44" font="6"><a href="#viet-nam">Viet Nam</a></text>
<text top="2813" left="72" width="299" height="64" font="5"><b>Southern Asia</b></text>
<button top="2916" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="afghanistan"/>
<text top="2916" left="72" width="184" height="44" font="6"><a href="#afghanistan">Afghanistan</a></text>
<button top="3006" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="bangladesh"/>
<text top="3006" left="72" width="183" height="44" font="6"><a href="#bangladesh">Bangladesh</a></text>
<button top="3096" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="bhutan"/>
<text top="3096" left="72" width="108" height="44" font="6"><a href="#bhutan">Bhutan</a></text>
<button top="3186" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="india"/>
<text top="3186" left="72" width="76" height="44" font="6"><a href="#india">India</a></text>
<button top="3276" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="iran"/>
<text top="3276" left="72" width="384" height="44" font="6"><a href="#iran">Iran (Islamic Republic of)</a></text>
<button top="3366" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="maldives"/>
<text top="3366" left="72" width="140" height="44" font="6"><a href="#maldives">Maldives</a></text>
<button top="3456" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="nepal"/>
<text top="3456" left="72" width="94" height="44" font="6"><a href="#nepal">Nepal</a></text>
<button top="3546" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="pakistan"/>
<text top="3546" left="72" width="125" height="44" font="6"><a href="#pakistan">Pakistan</a></text>
<button top="3636" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="sri-lanka"/>
<text top="3636" left="72" width="136" height="44" font="6"><a href="#sri-lanka">Sri Lanka</a></text>
<text top="3785" left="72" width="285" height="64" font="5"><b>Western Asia</b></text>
<button top="3888" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="armenia"/>
<text top="3888" left="72" width="131" height="44" font="6"><a href="#armenia">Armenia</a></text>
<button top="3978" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="azerbaijan"/>
<text top="3978" left="72" width="165" height="44" font="6"><a href="#azerbaijan">Azerbaijan</a></text>
<button top="4068" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="bahrain"/>
<text top="4068" left="72" width="115" height="44" font="6"><a href="#bahrain">Bahrain</a></text>
<button top="4158" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="cyprus"/>
<text top="4158" left="72" width="110" height="44" font="6"><a href="#cyprus">Cyprus</a></text>
<button top="4248" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="georgia"/>
<text top="4248" left="72" width="128" height="44" font="6"><a href="#georgia">Georgia</a></text>
<button top="4338" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="iraq"/>
<text top="4338" left="72" width="61" height="44" font="6"><a href="#iraq">Iraq</a></text>
<button top="4428" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="israel"/>
<text top="4428" left="72" width="82" height="44" font="6"><a href="#israel">Israel</a></text>
<button top="4518" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="jordan"/>
<text top="4518" left="72" width="106" height="44" font="6"><a href="#jordan">Jordan</a></text>
<button top="4608" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="kuwait"/>
<text top="4608" left="72" width="106" height="44" font="6"><a href="#kuwait">Kuwait</a></text>
<button top="4698" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="lebanon"/>
<text top="4698" left="72" width="138" height="44" font="6"><a href="#lebanon">Lebanon</a></text>
<button top="4788" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="palestine"/>
<text top="4788" left="72" width="470" height="44" font="6"><a href="#palestine">Occupied Palestinian Territory</a></text>
<button top="4878" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="oman"/>
<text top="4878" left="72" width="97" height="44" font="6"><a href="#oman">Oman</a></text>
<button top="4968" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="qatar"/>
<text top="4968" left="72" width="87" height="44" font="6"><a href="#qatar">Qatar</a></text>
<button top="5058" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="saudi-arabia"/>
<text top="5058" left="72" width="196" height="44" font="6"><a href="#saudi-arabia">Saudi Arabia</a></text>
<button top="5148" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="syria"/>
<text top="5148" left="72" width="324" height="44" font="6"><a href="#syria">Syrian Arab Republic</a></text>
<button top="5238" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="turkey"/>
<text top="5238" left="72" width="103" height="44" font="6"><a href="#turkey">Turkey</a></text>
<button top="5328" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="uae"/>
<text top="5328" left="72" width="329" height="44" font="6"><a href="#uae">United Arab Emirates</a></text>
<button top="5418" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="yemen"/>
<text top="5418" left="72" width="108" height="44" font="6"><a href="#yemen">Yemen</a></text>
</page>
<page number="4" position="absolute" top="0" left="0" height="4266" width="1152">
<image top="8" left="0" width="1152" height="4266" src="toc3.png"/>
<bookmark name="LAC"/>
<button top="84" left="951" width="111" height="32" pl="45" pr="17" pt="7" pb="25" href="ALL"/>
<text top="84" left="951" width="111" height="32" font="3"><a href="#ALL"><b>all regions</b></a></text>
<text top="107" left="72" width="467" height="96" font="4"><b>Latin America  </b></text>
<text top="193" left="72" width="598" height="96" font="4"><b>and the Caribbean</b></text>
<text top="344" left="72" width="226" height="64" font="5"><b>Caribbean</b></text>
<button top="446" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="aruba"/>
<text top="446" left="72" width="94" height="44" font="6"><a href="#aruba">Aruba</a></text>
<button top="536" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="bahamas"/>
<text top="536" left="72" width="140" height="44" font="6"><a href="#bahamas">Bahamas</a></text>
<button top="626" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="barbados"/>
<text top="626" left="72" width="149" height="44" font="6"><a href="#barbados">Barbados</a></text>
<button top="716" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="cuba"/>
<text top="716" left="72" width="84" height="44" font="6"><a href="#cuba">Cuba</a></text>
<button top="806" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="dominican-republic"/>
<text top="806" left="72" width="314" height="44" font="6"><a href="#dominican-republic">Dominican Republic</a></text>
<button top="896" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="grenada"/>
<text top="896" left="72" width="136" height="44" font="6"><a href="#grenada">Grenada</a></text>
<button top="986" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="guadeloupe"/>
<text top="986" left="72" width="198" height="44" font="6"><a href="#guadeloupe">Guadeloupe</a></text>
<button top="1076" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="haiti"/>
<text top="1076" left="72" width="69" height="44" font="6"><a href="#haiti">Haiti</a></text>
<button top="1166" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="jamaica"/>
<text top="1166" left="72" width="125" height="44" font="6"><a href="#jamaica">Jamaica</a></text>
<button top="1256" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="martinique"/>
<text top="1256" left="72" width="170" height="44" font="6"><a href="#martinique">Martinique</a></text>
<button top="1346" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="netherlands-antilles"/>
<text top="1346" left="72" width="312" height="44" font="6"><a href="#netherlands-antilles">Netherlands Antilles</a></text>
<button top="1436" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="puerto-rico"/>
<text top="1436" left="72" width="180" height="44" font="6"><a href="#puerto-rico">Puerto Rico</a></text>
<button top="1526" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="saint-lucia"/>
<text top="1526" left="72" width="164" height="44" font="6"><a href="#saint-lucia">Saint Lucia</a></text>
<button top="1616" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="saint-vincent"/>
<text top="1616" left="72" width="522" height="44" font="6"><a href="#saint-vincent">Saint Vincent and the Grenadines</a></text>
<button top="1706" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="trinidad-and-tobago"/>
<text top="1706" left="72" width="327" height="44" font="6"><a href="#trinidad-and-tobago">Trinidad and Tobago</a></text>
<button top="1796" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="us-virgin-islands"/>
<text top="1796" left="72" width="423" height="44" font="6"><a href="#us-virgin-islands">United States Virgin Islands</a></text>
<text top="1946" left="72" width="345" height="64" font="5"><b>Central America</b></text>
<button top="2048" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="belize"/>
<text top="2048" left="72" width="92" height="44" font="6"><a href="#belize">Belize</a></text>
<button top="2138" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="costa-rica"/>
<text top="2138" left="72" width="163" height="44" font="6"><a href="#costa-rica">Costa Rica</a></text>
<button top="2228" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="el-salvador"/>
<text top="2228" left="72" width="170" height="44" font="6"><a href="#el-salvador">El Salvador</a></text>
<button top="2318" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="guatemala"/>
<text top="2318" left="72" width="171" height="44" font="6"><a href="#guatemala">Guatemala</a></text>
<button top="2408" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="honduras"/>
<text top="2408" left="72" width="153" height="44" font="6"><a href="#honduras">Honduras</a></text>
<button top="2498" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="mexico"/>
<text top="2498" left="72" width="117" height="44" font="6"><a href="#mexico">Mexico</a></text>
<button top="2588" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="nicaragua"/>
<text top="2588" left="72" width="160" height="44" font="6"><a href="#nicaragua">Nicaragua</a></text>
<button top="2678" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="panama"/>
<text top="2678" left="72" width="124" height="44" font="6"><a href="#panama">Panama</a></text>
<text top="2828" left="72" width="314" height="64" font="5"><b>South America</b></text>
<button top="2930" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="argentina"/>
<text top="2930" left="72" width="153" height="44" font="6"><a href="#argentina">Argentina</a></text>
<button top="3020" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="bolivia"/>
<text top="3020" left="72" width="450" height="44" font="6"><a href="#bolivia">Bolivia (Plurinational State of)</a></text>
<button top="3110" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="brazil"/>
<text top="3110" left="72" width="82" height="44" font="6"><a href="#brazil">Brazil</a></text>
<button top="3200" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="chile"/>
<text top="3200" left="72" width="79" height="44" font="6"><a href="#chile">Chile</a></text>
<button top="3290" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="colombia"/>
<text top="3290" left="72" width="154" height="44" font="6"><a href="#colombia">Colombia</a></text>
<button top="3380" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="ecuador"/>
<text top="3380" left="72" width="129" height="44" font="6"><a href="#ecuador">Ecuador</a></text>
<button top="3470" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="french-guiana"/>
<text top="3470" left="72" width="225" height="44" font="6"><a href="#french-guiana">French Guiana</a></text>
<button top="3560" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="guyana"/>
<text top="3560" left="72" width="121" height="44" font="6"><a href="#guyana">Guyana</a></text>
<button top="3650" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="paraguay"/>
<text top="3650" left="72" width="145" height="44" font="6"><a href="#paraguay">Paraguay</a></text>
<button top="3740" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="peru"/>
<text top="3740" left="72" width="70" height="44" font="6"><a href="#peru">Peru</a></text>
<button top="3830" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="suriname"/>
<text top="3830" left="72" width="146" height="44" font="6"><a href="#suriname">Suriname</a></text>
<button top="3920" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="uruguay"/>
<text top="3920" left="72" width="133" height="44" font="6"><a href="#uruguay">Uruguay</a></text>
<button top="4010" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="venezuela"/>
<text top="4010" left="72" width="535" height="44" font="6"><a href="#venezuela">Venezuela (Bolivarian Republic of)</a></text>
</page>
<page number="5" position="absolute" top="0" left="0" height="1536" width="1152">
<image top="8" left="0" width="1152" height="1536" src="toc4.png"/>
<bookmark name="Oceania"/>
<button top="84" left="951" width="111" height="32" pl="45" pr="17" pt="7" pb="25" href="ALL"/>
<text top="84" left="951" width="111" height="32" font="3"><a href="#ALL"><b>all regions</b></a></text>
<text top="107" left="72" width="268" height="96" font="4"><b>Oceania</b></text>
<button top="270" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="australia"/>
<text top="270" left="72" width="132" height="44" font="6"><a href="#australia">Australia</a></text>
<button top="360" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="fiji"/>
<text top="360" left="72" width="40" height="44" font="6"><a href="#fiji">Fiji</a></text>
<button top="450" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="kiribati"/>
<text top="450" left="72" width="95" height="44" font="6"><a href="#kiribati">Kiribati</a></text>
<button top="540" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="marshall-islands"/>
<text top="540" left="72" width="262" height="44" font="6"><a href="#marshall-islands">Marshall Islands</a></text>
<button top="630" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="micronesia"/>
<text top="630" left="72" width="508" height="44" font="6"><a href="#micronesia">Micronesia (Federated States of)</a></text>
<button top="720" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="new-zealand"/>
<text top="720" left="72" width="211" height="44" font="6"><a href="#new-zealand">New Zealand</a></text>
<button top="810" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="papua-new-guinea"/>
<text top="810" left="72" width="302" height="44" font="6"><a href="#papua-new-guinea">Papua New Guinea</a></text>
<button top="900" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="samoa"/>
<text top="900" left="72" width="108" height="44" font="6"><a href="#samoa">Samoa</a></text>
<button top="990" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="solomon-islands"/>
<text top="990" left="72" width="258" height="44" font="6"><a href="#solomon-islands">Solomon Islands</a></text>
<button top="1080" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="tonga"/>
<text top="1080" left="72" width="98" height="44" font="6"><a href="#tonga">Tonga</a></text>
<button top="1170" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="tuvalu"/>
<text top="1170" left="72" width="244" height="44" font="6"><a href="#tuvalu">Tuvalu</a></text>
<button top="1260" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="vanuatu"/>
<text top="1260" left="72" width="128" height="44" font="6"><a href="#vanuatu">Vanuatu</a></text>
</page>
<page number="6" position="absolute" top="0" left="0" height="4284" width="1152">
<image top="8" left="0" width="1152" height="4284" src="toc5_shift.png"/>
<bookmark name="Europe"/>
<button top="84" left="951" width="111" height="32" pl="45" pr="17" pt="7" pb="25" href="ALL"/>
<text top="84" left="951" width="111" height="32" font="3"><a href="#ALL"><b>all regions</b></a></text>
<text top="107" left="72" width="231" height="96" font="4"><b>Europe</b></text>
<text top="257" left="72" width="322" height="64" font="5"><b>Eastern Europe</b></text>
<button top="360" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="albania"/>
<text top="360" left="72" width="117" height="44" font="6"><a href="#albania">Albania</a></text>
<button top="450" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="belarus"/>
<text top="450" left="72" width="112" height="44" font="6"><a href="#belarus">Belarus</a></text>
<button top="540" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="bosnia-and-herzegovina"/>
<text top="540" left="72" width="382" height="44" font="6"><a href="#bosnia-and-herzegovina">Bosnia and Herzegovina</a></text>
<button top="630" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="bulgaria"/>
<text top="630" left="72" width="125" height="44" font="6"><a href="#bulgaria">Bulgaria</a></text>
<button top="720" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="croatia"/>
<text top="720" left="72" width="112" height="44" font="6"><a href="#croatia">Croatia</a></text>
<button top="810" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="czech-republic"/>
<text top="810" left="72" width="245" height="44" font="6"><a href="#czech-republic">Czech Republic</a></text>
<button top="900" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="estonia"/>
<text top="900" left="72" width="110" height="44" font="6"><a href="#estonia">Estonia</a></text>
<button top="990" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="greece"/>
<text top="990" left="72" width="117" height="44" font="6"><a href="#greece">Greece</a></text>
<button top="1080" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="hungary"/>
<text top="1080" left="72" width="135" height="44" font="6"><a href="#hungary">Hungary</a></text>
<button top="1170" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="kosovo"/>
<text top="1170" left="72" width="330" height="44" font="6"><a href="#kosovo">Kosovo</a></text>
<button top="1260" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="latvia"/>
<text top="1260" left="72" width="90" height="44" font="6"><a href="#latvia">Latvia</a></text>
<button top="1350" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="lithuania"/>
<text top="1350" left="72" width="138" height="44" font="6"><a href="#lithuania">Lithuania</a></text>
<button top="1440" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="montenegro"/>
<text top="1440" left="72" width="199" height="44" font="6"><a href="#montenegro">Montenegro</a></text>
<button top="1530" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="poland"/>
<text top="1530" left="72" width="108" height="44" font="6"><a href="#poland">Poland</a></text>
<button top="1620" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="moldova"/>
<text top="1620" left="72" width="330" height="44" font="6"><a href="#moldova">Republic of Moldova</a></text>
<button top="1710" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="romania"/>
<text top="1710" left="72" width="137" height="44" font="6"><a href="#romania">Romania</a></text>
<button top="1800" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="russia"/>
<text top="1800" left="72" width="293" height="44" font="6"><a href="#russia">Russian Federation</a></text>
<button top="1890" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="serbia"/>
<text top="1890" left="72" width="98" height="44" font="6"><a href="#serbia">Serbia</a></text>
<button top="1980" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="slovakia"/>
<text top="1980" left="72" width="128" height="44" font="6"><a href="#slovakia">Slovakia</a></text>
<button top="2070" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="slovenia"/>
<text top="2070" left="72" width="132" height="44" font="6"><a href="#slovenia">Slovenia</a></text>
<button top="2160" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="macedonia"/>
<text top="2160" left="72" width="699" height="44" font="6"><a href="#macedonia">The former Yugoslav Republic of Macedonia</a></text>
<button top="2250" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="ukraine"/>
<text top="2250" left="72" width="119" height="44" font="6"><a href="#ukraine">Ukraine</a></text>
<text top="2399" left="72" width="347" height="64" font="5"><b>Western Europe</b></text>
<button top="2502" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="austria"/>
<text top="2502" left="72" width="106" height="44" font="6"><a href="#austria">Austria</a></text>
<button top="2592" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="belgium"/>
<text top="2592" left="72" width="128" height="44" font="6"><a href="#belgium">Belgium</a></text>
<button top="2682" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="denmark"/>
<text top="2682" left="72" width="141" height="44" font="6"><a href="#denmark">Denmark</a></text>
<button top="2772" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="finland"/>
<text top="2772" left="72" width="112" height="44" font="6"><a href="#finland">Finland</a></text>
<button top="2862" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="france"/>
<text top="2862" left="72" width="105" height="44" font="6"><a href="#france">France</a></text>
<button top="2952" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="germany"/>
<text top="2952" left="72" width="145" height="44" font="6"><a href="#germany">Germany</a></text>
<button top="3042" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="iceland"/>
<text top="3042" left="72" width="115" height="44" font="6"><a href="#iceland">Iceland</a></text>
<button top="3132" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="ireland"/>
<text top="3132" left="72" width="108" height="44" font="6"><a href="#ireland">Ireland</a></text>
<button top="3222" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="italy"/>
<text top="3222" left="72" width="64" height="44" font="6"><a href="#italy">Italy</a></text>
<button top="3312" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="luxembourg"/>
<text top="3312" left="72" width="201" height="44" font="6"><a href="#luxembourg">Luxembourg</a></text>
<button top="3402" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="malta"/>
<text top="3402" left="72" width="86" height="44" font="6"><a href="#malta">Malta</a></text>
<button top="3492" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="netherlands"/>
<text top="3492" left="72" width="191" height="44" font="6"><a href="#netherlands">Netherlands</a></text>
<button top="3582" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="norway"/>
<text top="3582" left="72" width="126" height="44" font="6"><a href="#norway">Norway</a></text>
<button top="3672" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="portugal"/>
<text top="3672" left="72" width="131" height="44" font="6"><a href="#portugal">Portugal</a></text>
<button top="3762" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="spain"/>
<text top="3762" left="72" width="86" height="44" font="6"><a href="#spain">Spain</a></text>
<button top="3852" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="sweden"/>
<text top="3852" left="72" width="130" height="44" font="6"><a href="#sweden">Sweden</a></text>
<button top="3942" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="switzerland"/>
<text top="3942" left="72" width="183" height="44" font="6"><a href="#switzerland">Switzerland</a></text>
<button top="4032" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="united-kingdom"/>
<text top="4032" left="72" width="837" height="44" font="6"><a href="#united-kingdom">United Kingdom of Great Britain and Northern Ireland</a></text>
</page>
<page number="7" position="absolute" top="0" left="0" height="1536" width="1152">
<image top="8" left="0" width="1152" height="1536" src="toc6.png"/>
<bookmark name="NA"/>
<button top="84" left="951" width="111" height="32" pl="45" pr="17" pt="7" pb="25" href="ALL"/>
<text top="84" left="951" width="111" height="32" font="3"><a href="#ALL"><b>all regions</b></a></text>
<text top="107" left="72" width="473" height="96" font="4"><b>North America</b></text>
<button top="270" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="canada"/>
<text top="270" left="72" width="120" height="44" font="6"><a href="#canada">Canada</a></text>
<button top="360" left="72" width="110" height="44" pr="890" pt="10" pb="25" href="usa"/>
<text top="360" left="72" width="388" height="44" font="6"><a href="#usa">United States of America</a></text>
</page>
{% for country in countries %}
	{% if country.lowincome %}
<page number="{{ 8 + loop.index0 }}" position="absolute" top="0" left="0" height="11592" width="1152">
	<fontspec id="8" size="34" family="Times" color="#ffffff"/>
	<fontspec id="9" size="24" family="Times" color="#847f84"/>
	<fontspec id="10" size="24" family="Times" color="#847f84"/>
	<fontspec id="11" size="13" family="Times" color="#e9443a"/>
	<fontspec id="12" size="24" family="Times" color="#e9443a"/>
	<fontspec id="13" size="22" family="Times" color="#453e43"/>
	<fontspec id="14" size="22" family="Times" color="#453e43"/>
	<fontspec id="15" size="22" family="Times" color="#aaa6ab"/>
	<fontspec id="16" size="34" family="Times" color="#e9443a"/>
	<fontspec id="17" size="34" family="Times" color="#f8c1b2"/>
	<fontspec id="18" size="31" family="Times" color="#ffffff"/>
	<fontspec id="19" size="31" family="Times" color="#f8c1b2"/>
	<fontspec id="20" size="34" family="Times" color="#aaa6ab"/>
<image top="0" left="0" width="1152" height="11592" src="li_profile_bg_noc.png"/>
<bookmark name="{{ country.slug }}"/>
<button top="76" left="832" width="230" height="32" pl="45" pr="17" pt="7" pb="25" href="{{ country.regionslug }}"/>
<text top="76" left="832" width="230" height="32" font="3"><a href="#{{ country.regionslug }}"><b>all countries in region</b></a></text>
<text top="112" left="72" width="368" height="89" font="1">P20 profile: </text>
<text top="197" left="72" width="1008" height="96" font="0" shrink="True"><b>{{ country.longname }}</b></text>
<text top="477" left="72" width="905" height="44" font="8">Agenda 2030 includes the specific commitment to Leave </text>
<text top="531" left="72" width="900" height="44" font="8">No One Behind. Together with Sustainable Development </text>
<text top="585" left="72" width="965" height="44" font="8">Goal 10 to reduce inequality, this requires faster than average </text>
<text top="639" left="72" width="990" height="44" font="8">progress for the poorest. The test is whether the gap between </text>
<text top="693" left="72" width="881" height="44" font="8">the poorest 20% of people (the P20) and everyone else </text>
<text top="747" left="72" width="453" height="44" font="8">is reducing or getting wider. </text>
<text top="837" left="72" width="974" height="44" font="8">The P20 Initiative uses data to show whether the poorest 20% </text>
<text top="891" left="72" width="956" height="44" font="8">of people are getting their fair share of attention, investment </text>
<text top="945" left="72" width="1009" height="44" font="8">and opportunity. It uses three bellwether indicators of progress: </text>
<text top="999" left="72" width="979" height="44" font="8">income, nutrition and civil registration and it promotes all data </text>
<text top="1053" left="72" width="990" height="44" font="8">being disaggregated by Income Quintile, Gender, Geography, </text>
<text top="1107" left="72" width="298" height="44" font="8">Age and Disability. </text>
<text top="1197" left="72" width="912" height="47" font="8">This profile provides key available data about the status </text>
<text top="1251" left="72" width="514" height="47" font="8">of the P20 in {{ country.sentencename }}.</text>
<text top="1551" left="162" width="617" height="64" font="5"><b>the P20 in {{ country.sentencename }}</b></text>
{% if country.P20pop is not none %}
	<text top="1674" left="72" width="710" height="44" font="6">{{ country.P20pop|people }} people in {{ country.sentencename }} are among </text>
	<text top="1728" left="72" width="763" height="44" font="6">the poorest 20% of the world’s population – the </text>
	<text top="1782" left="72" width="730" height="44" font="6">global P20. That is {{ country.PercentinP20|percent }} of the total population </text>
	<text top="1836" left="72" width="600" height="44" font="6">and they live on less than $2.54 a day. </text>
	{% if country.PercentinP20>0 %}
		{% if country.minimumincome>2.54 %}
			<text top="1926" left="72" width="729" height="44" font="6">The national P20 – the poorest 20% of people </text>
			<text top="1980" left="72" width="789" height="44" font="6">within {{ country.sentencename }} – live on less than {{ country.MaximumIncomeConsumptionNP20|dollar }}</text>
			<text top="2034" left="72" width="786" height="44" font="6">a day compared with an average {{ country.NationalRestAverage|dollar }} </text>
			<text top="2088" left="72" width="460" height="44" font="6">for the rest of the population.</text>
		{% else %}
			<text top="1926" left="72" width="729" height="44" font="6">The national P20 – the poorest 20% of people </text>
			<text top="1980" left="72" width="789" height="44" font="6">within {{ country.sentencename }} – live on between {{ country.minimumincome|dollar }} </text>
			<text top="2034" left="72" width="786" height="44" font="6">and {{ country.MaximumIncomeConsumptionNP20|dollar }} a day compared with an average {{ country.NationalRestAverage|dollar }} </text>
			<text top="2088" left="72" width="460" height="44" font="6">for the rest of the population.</text>
		{% endif %}
	{% else %}
		<text top="1926" left="72" width="729" height="44" font="6">The national P20 – the poorest 20% of people </text>
		<text top="1980" left="72" width="789" height="44" font="6">within {{ country.sentencename }} – live on between {{ country.minimumincome|dollar }} </text>
		<text top="2034" left="72" width="786" height="44" font="6">and {{ country.MaximumIncomeConsumptionNP20|dollar }} a day compared with an average {{ country.NationalRestAverage|dollar }} </text>
		<text top="2088" left="72" width="460" height="44" font="6">for the rest of the population.</text>
	{% endif %}
{% else %}
	<image top="1674" left="72" width="1004" height="458" src="no_data.png"/>
	<text top="1822" left="440" width="100" height="44" font="20"><b>No data available</b></text>
{% endif %}
<text top="2187" left="72" width="600" height="35" font="9"><b>Source: </b>Development Initiatives based on PovcalNet</text>
<text top="2190" left="622" width="5" height="20" font="11"><a href="#{{ country.slug }}1"><b>1</b></a></text>
<text top="2451" left="162" width="160" height="64" font="5"><b>income</b></text>
{% if country.gap_1999 is not none %}
	<text top="2574" left="72" width="765" height="44" font="6">In 1999 the gap between the national P20 and </text>
	<text top="2628" left="72" width="775" height="44" font="6">everyone else in {{ country.sentencename }} was {{ country.gap_1999|dollar }} and </text>
	<text top="2682" left="72" width="213" height="44" font="6">in 2013 it was {{ country.gap_2013|dollar }}.</text>
{% else %}
	{% if country.gap_2013 is not none %}
		<text top="2574" left="72" width="765" height="44" font="6">In 2013 the gap between the national P20 and </text>
		<text top="2628" left="72" width="775" height="44" font="6">everyone else in {{ country.sentencename }} was {{ country.gap_2013|dollar }}.</text>
	{% else %}
		<image top="2574" left="72" width="1004" height="152" src="no_data_quarter.png"/>
		<text top="2626" left="440" width="100" height="44" font="20"><b>No data available</b></text>
	{% endif %}
{% endif %}
<text top="2766" left="74" width="535" height="48" font="7"><b>{{ country.name }} income trends</b></text>
<image top="2850" left="74" width="1000" height="770" src="../charts/{{ country.slug }}_c1.png"/>
<text top="3699" left="72" width="600" height="35" font="9"><b>Source: </b>Development Initiatives based on PovcalNet</text>
<text top="3819" left="162" width="188" height="64" font="5"><b>nutrition</b></text>
<text top="3942" left="72" width="716" height="44" font="6">Nutrition is fundamental to the ability to learn </text>
<text top="3996" left="72" width="790" height="44" font="6">and earn. Children who experience poor nutrition </text>
<text top="4050" left="72" width="681" height="44" font="6">can suffer lifelong disadvantage as a result. </text>
{% if country.nationalstunting is not none %}
	{% if country.nationalP20stunting is not none %}
		<text top="4140" left="72" width="707" height="44" font="6">In {{ country.sentencename }}, {{ country.nationalstunting|percent }} of children under </text>
		<text top="4194" left="72" width="692" height="44" font="6">five years old experience stunting. In the national P20 {{ country.nationalP20stunting|percent }} </text>
		<text top="4248" left="72" width="696" height="44" font="6">experience stunting compared with {{ country.restP20stunting|percent }} </text>
		<text top="4302" left="72" width="448" height="44" font="6">of the rest of the population.</text>
	{% else %}
		<text top="4140" left="72" width="707" height="44" font="6">In {{ country.sentencename }}, {{ country.nationalstunting|percent }} of children under</text>
		<text top="4194" left="72" width="692" height="44" font="6">five years old experience stunting. It is not possible to </text>
		<text top="4248" left="72" width="696" height="44" font="6">disaggregate stunting rates between the </text>
		<text top="4302" left="72" width="448" height="44" font="6">national P20 and the rest of the population.</text>
	{% endif %}
{% else %}
	<image top="4140" left="72" width="1004" height="202" src="no_data_quarter.png"/>
	<text top="{{ (4140 + 0.3421 * 202) | roundInt }}" left="440" width="100" height="44" font="20"><b>No data available</b></text>
{% endif %}
<text top="4387" left="72" width="973" height="48" font="7"><b>stunting in children in the P20 compared with rest of country</b></text>
<image top="4477" left="74" width="1000" height="600" src="../charts/{{ country.slug }}_c2.png"/>
<text top="5139" left="72" width="765" height="35" font="9"><b>Source: </b>Development Initiatives based on UNICEF-WHO joint child </text>
<text top="5176" left="72" width="251" height="32" font="10">malnutrition estimates</text>
<text top="5178" left="303" width="8" height="20" font="11"><a href="#{{ country.slug }}2"><b>2</b></a></text>
<text top="5298" left="162" width="369" height="64" font="5"><b>birth registration</b></text>
<text top="5418" left="72" width="674" height="44" font="6">Civil Registration means people count and </text>
<text top="5472" left="72" width="738" height="44" font="6">have rights. Worldwide around 71% of children </text>
<text top="5526" left="72" width="687" height="44" font="6">are birth registered. If you are born into the </text>
<text top="5580" left="72" width="752" height="44" font="6">poorest 20% of people you are much less likely </text>
<text top="5634" left="72" width="466" height="44" font="6">to have your birth registered. </text>
{% if country.restreg is not none %}
	<text top="5724" left="72" width="734" height="44" font="6">In {{ country.sentencename }} {{ country.NP20Reg|percent }} of births in the </text>
	<text top="5778" left="72" width="707" height="44" font="6">national P20 are registered compared to </text>
	<text top="5832" left="72" width="239" height="44" font="6">{{ country.restreg|percent }} in the rest of the population.</text>
{% else %}
	<image top="5724" left="72" width="1004" height="152" src="no_data_quarter.png"/>
	<text top="{{ (5724 + 0.3421 * 152) | roundInt }}" left="440" width="100" height="44" font="20"><b>No data available</b></text>
{% endif %}
<text top="5916" left="72" width="689" height="48" font="7"><b>birth registration rates for children under five</b></text>
<image top="6006" left="74" width="1000" height="600" src="../charts/{{ country.slug }}_c3.png"/>
{% if country.birthregtrends is not none %}
	<text top="6714" left="72" width="690" height="44" font="6">Birth registration rates in {{ country.sentencename }}  </text>
	<text top="6768" left="72" width="451" height="44" font="6">have {{ country.birthregtrends }}.</text>
{% else %}
	<image top="6714" left="72" width="1004" height="152" src="no_data_quarter.png"/>
	<text top="{{ (6714 + 0.3421 * 152) | roundInt }}" left="440" width="100" height="44" font="20"><b>No data available</b></text>
{% endif %}
<text top="6867" left="72" width="987" height="35" font="9"><b>Source: </b>Development Initiatives based on World Bank World Development Indicators: </text>
<text top="6904" left="72" width="418" height="32" font="10">Completeness of birth registration %</text>
<text top="6906" left="460" width="8" height="20" font="11"><a href="#{{ country.slug }}3"><b>3</b></a></text>
<text top="7023" left="162" width="219" height="64" font="5"><b>education</b></text>
<text top="7146" left="72" width="613" height="44" font="6">Education is fundamental to a person’s </text>
<text top="7200" left="72" width="202" height="44" font="6">life chances. </text>
{% if country.SecondaryCompletion is not none %}
	<text top="7290" left="72" width="684" height="44" font="6">As of {{ country.nateducYear|year }}, {{ country.SecondaryCompletion|percent }} of people in {{ country.sentencename }} have </text>
	<text top="7344" left="72" width="640" height="44" font="6">completed secondary school education.</text>
{% else %}
	<image top="7280" left="72" width="1004" height="152" src="no_data_quarter.png"/>
	<text top="{{ (7280 + 0.3421 * 152) | roundInt }}" left="440" width="100" height="44" font="20"><b>No data available</b></text>
{% endif %}
<text top="7428" left="72" width="889" height="48" font="7"><b>percentage who have completed secondary education</b></text>
<image top="7518" left="74" width="1000" height="550" src="../charts/{{ country.slug }}_c4.png"/>
{% if country.secondarycompletionP20 is not none %}
	<text top="8118" left="72" width="698" height="44" font="6">{{ country.secondarycompletionP20|percent }} of people in the national P20 have completed </text>
	<text top="8172" left="72" width="723" height="44" font="6">a secondary education compared with {{ country.secondarycompletionrest|percent }} </text>
	<text top="8226" left="72" width="448" height="44" font="6">of the rest of the population.</text>
{% else %}
	<image top="8118" left="72" width="1004" height="152" src="no_data_quarter.png"/>
	<text top="{{ (8118 + 0.3421 * 152) | roundInt }}" left="440" width="100" height="44" font="20"><b>No data available</b></text>
{% endif %}
<text top="8310" left="72" width="575" height="48" font="7"><b>secondary school completion rates </b></text>
<image top="8400" left="74" width="1000" height="660" src="../charts/{{ country.slug }}_c5.png"/>
<text top="9063" left="72" width="498" height="35" font="9"><b>Source: </b>Demographic Health Surveys (DHS)</text>
<text top="9183" left="162" width="137" height="64" font="5"><b>health</b></text>
<text top="9306" left="72" width="777" height="44" font="6">Poor health plays a major part in keeping people </text>
<text top="9360" left="72" width="801" height="44" font="6">in poverty. If you are among the P20 you are more </text>
<text top="9414" left="72" width="721" height="44" font="6">likely to suffer from preventable diseases and </text>
<text top="9468" left="72" width="214" height="44" font="6">to die earlier. </text>
{% if country.NtlUnder5Mortality is not none %}
	<text top="9558" left="72" width="790" height="44" font="6">In {{ country.sentencename }} the under-five mortality rate </text>
	<text top="9612" left="72" width="425" height="44" font="6">is {{ country.NtlUnder5Mortality|people }} per 1,000 live births. </text>
{% else %}
	<image top="9548" left="72" width="1004" height="152" src="no_data_quarter.png"/>
	<text top="{{ (9548 + 0.3421 * 152) | roundInt }}" left="440" width="100" height="44" font="20"><b>No data available</b></text>
{% endif %}
{% if country.U5MortalityNP20 is not none %}
	<text top="9702" left="72" width="702" height="44" font="6">The under-five mortality rate among the P20 </text>
	<text top="9756" left="72" width="742" height="44" font="6">is {{ country.U5MortalityNP20|people }} per 1,000 live births compared with {{ country.U5MortalityRest|people }} </text>
	<text top="9810" left="72" width="770" height="44" font="6">per 1,000 live births for the rest of the population.</text>
{% else %}
	<text top="9702" left="72" width="702" height="44" font="6">Data is not available that allows us to disaggregate </text>
	<text top="9756" left="72" width="742" height="44" font="6">under-five mortality based on income and </text>
	<text top="9810" left="72" width="770" height="44" font="6">therefore we are unable to see this information </text>
	<text top="9864" left="72" width="694" height="44" font="6">for the P20 versus the rest of the population.</text>
{% endif %}
<text top="9948" left="72" width="370" height="48" font="7"><b>under-five mortality rates</b></text>
<image top="10068" left="74" width="1000" height="590" src="../charts/{{ country.slug }}_c6.png"/>
<text top="10647" left="72" width="889" height="35" font="9"><b>Source: </b>Development Initiatives based on Demographic Health Surveys (DHS)</text>
<text top="10845" left="72" width="15" height="34" font="12">1 </text>
<text top="10845" left="72" width="15" height="34" font="12"><a name="{{ country.slug }}1"></a></text>
<text top="10846" left="108" width="501" height="32" font="10">Year of latest available data: 2013 (2011 $PPP)</text>
<text top="10899" left="72" width="21" height="34" font="12">2 </text>
<text top="10899" left="72" width="21" height="34" font="12"><a name="{{ country.slug }}2"></a></text>
<text top="10900" left="108" width="957" height="32" font="10">Based on latest available data which varies between countries – see original source</text>
<text top="10953" left="72" width="21" height="34" font="12">3 </text>
<text top="10953" left="72" width="21" height="34" font="12"><a name="{{ country.slug }}3"></a></text>
<text top="10954" left="108" width="957" height="32" font="10">Based on latest available data which varies between countries – see original source</text>
<text top="11159" left="72" width="531" height="43" font="18">If you would like more information  </text>
<text top="11204" left="72" width="555" height="43" font="18">or to speak to us, please get in touch:</text>
<text top="11285" left="72" width="480" height="43" font="18">Zach Christensen, Senior Analyst </text>
<text top="11330" left="72" width="446" height="43" font="19"><a href="mailto:Zach.Christensen%40devinit.org?subject=">Zach.Christensen@devinit.org</a></text>
<text top="11411" left="72" width="434" height="43" font="18">See more about this work at  </text>
<text top="11456" left="72" width="332" height="43" font="19"><a href="http://www.devinit.org/p20i">www.devinit.org/p20i</a></text>
</page>
{% else %}
<page number="{{ 8 + loop.index0 }}" position="absolute" top="0" left="0" height="8065" width="1152">
<image top="0" left="0" width="1152" height="8065" src="hi_profile_bg_noc.png"/>
<bookmark name="{{ country.slug }}"/>
<button top="76" left="832" width="230" height="32" pl="45" pr="17" pt="7" pb="25" href="{{ country.regionslug }}"/>
<text top="76" left="832" width="230" height="32" font="3"><a href="#{{ country.regionslug }}"><b>all countries in region</b></a></text>
<text top="112" left="72" width="368" height="89" font="1">P20 profile: </text>
<text top="197" left="72" width="1008" height="96" font="0" shrink="True"><b>{{ country.longname }}</b></text>
<text top="477" left="72" width="905" height="44" font="8">Agenda 2030 includes the specific commitment to Leave </text>
<text top="531" left="72" width="900" height="44" font="8">No One Behind. Together with Sustainable Development </text>
<text top="585" left="72" width="965" height="44" font="8">Goal 10 to reduce inequality, this requires faster than average </text>
<text top="639" left="72" width="990" height="44" font="8">progress for the poorest. The test is whether the gap between </text>
<text top="693" left="72" width="881" height="44" font="8">the poorest 20% of people (the P20) and everyone else </text>
<text top="747" left="72" width="453" height="44" font="8">is reducing or getting wider. </text>
<text top="837" left="72" width="974" height="44" font="8">The P20 Initiative uses data to show whether the poorest 20% </text>
<text top="891" left="72" width="956" height="44" font="8">of people are getting their fair share of attention, investment </text>
<text top="945" left="72" width="1009" height="44" font="8">and opportunity. It uses three bellwether indicators of progress: </text>
<text top="999" left="72" width="979" height="44" font="8">income, nutrition and civil registration and it promotes all data </text>
<text top="1053" left="72" width="990" height="44" font="8">being disaggregated by Income Quintile, Gender, Geography, </text>
<text top="1107" left="72" width="288" height="44" font="8">Age and Disability.</text>
<text top="1197" left="72" width="912" height="47" font="8">This profile provides key available data about the status </text>
<text top="1251" left="72" width="514" height="47" font="8">of the P20 in {{ country.sentencename }}.</text>
<text top="1551" left="162" width="617" height="64" font="5"><b>the P20 in {{ country.sentencename }}</b></text>
{% if country.P20pop is not none %}
	<text top="1674" left="72" width="710" height="44" font="6">{{ country.P20pop|people }} people in {{ country.sentencename }} are among </text>
	<text top="1728" left="72" width="763" height="44" font="6">the poorest 20% of the world’s population – the </text>
	<text top="1782" left="72" width="730" height="44" font="6">global P20. That is {{ country.PercentinP20|percent }} of the total population </text>
	<text top="1836" left="72" width="591" height="44" font="6">and they live on less than $2.54 a day.</text>
	{% if country.PercentinP20>0 %}
		{% if country.minimumincome>2.54 %}
			<text top="1926" left="72" width="729" height="44" font="6">The national P20 – the poorest 20% of people </text>
			<text top="1980" left="72" width="789" height="44" font="6">within {{ country.sentencename }} – live on less than {{ country.MaximumIncomeConsumptionNP20|dollar }}</text>
			<text top="2034" left="72" width="786" height="44" font="6">a day compared with an average {{ country.NationalRestAverage|dollar }} </text>
			<text top="2088" left="72" width="460" height="44" font="6">for the rest of the population.</text>
		{% else %}
			<text top="1926" left="72" width="729" height="44" font="6">The national P20 – the poorest 20% of people </text>
			<text top="1980" left="72" width="789" height="44" font="6">within {{ country.sentencename }} – live on between {{ country.minimumincome|dollar }} </text>
			<text top="2034" left="72" width="786" height="44" font="6">and {{ country.MaximumIncomeConsumptionNP20|dollar }} a day compared with an average {{ country.NationalRestAverage|dollar }} </text>
			<text top="2088" left="72" width="460" height="44" font="6">for the rest of the population.</text>
		{% endif %}
	{% else %}
		<text top="1926" left="72" width="729" height="44" font="6">The national P20 – the poorest 20% of people </text>
		<text top="1980" left="72" width="789" height="44" font="6">within {{ country.sentencename }} – live on between {{ country.minimumincome|dollar }} </text>
		<text top="2034" left="72" width="786" height="44" font="6">and {{ country.MaximumIncomeConsumptionNP20|dollar }} a day compared with an average {{ country.NationalRestAverage|dollar }} </text>
		<text top="2088" left="72" width="460" height="44" font="6">for the rest of the population.</text>
	{% endif %}
{% else %}
	<image top="1674" left="72" width="1004" height="458" src="no_data.png"/>
	<text top="1822" left="440" width="100" height="44" font="20"><b>No data available</b></text>
{% endif %}
<text top="2187" left="72" width="600" height="35" font="9"><b>Source: </b>Development Initiatives based on PovcalNet</text>
<text top="2190" left="622" width="5" height="20" font="11"><a href="#{{ country.slug }}1"><b>1</b></a></text>
<text top="2451" left="162" width="160" height="64" font="5"><b>income</b></text>
{% if country.gap_1999 is not none %}
	<text top="2574" left="72" width="765" height="44" font="6">In 1999 the gap between the national P20 and </text>
	<text top="2628" left="72" width="775" height="44" font="6">everyone else in {{ country.sentencename }} was {{ country.gap_1999|dollar }} and </text>
	<text top="2682" left="72" width="213" height="44" font="6">in 2013 it was {{ country.gap_2013|dollar }}.</text>
{% else %}
	{% if country.gap_2013 is not none %}
		<text top="2574" left="72" width="765" height="44" font="6">In 2013 the gap between the national P20 and </text>
		<text top="2628" left="72" width="775" height="44" font="6">everyone else in {{ country.sentencename }} was {{ country.gap_2013|dollar }}.</text>
	{% else %}
		<image top="2574" left="72" width="1004" height="152" src="no_data_quarter.png"/>
		<text top="2626" left="440" width="100" height="44" font="20"><b>No data available</b></text>
	{% endif %}
{% endif %}
<text top="2766" left="74" width="535" height="48" font="7"><b>{{ country.name }} income trends</b></text>
<image top="2850" left="74" width="1000" height="770" src="../charts/{{ country.slug }}_c1.png"/>
<text top="3699" left="72" width="600" height="35" font="9"><b>Source: </b>Development Initiatives based on PovcalNet</text>
<text top="3819" left="162" width="188" height="64" font="5"><b>nutrition</b></text>
{% if country.obesityrate is not none %}
	<text top="3942" left="72" width="743" height="44" font="6">In {{ country.sentencename }} {{ country.obesityrate|percent }} of adults are obese.</text>
{% endif %}
<text top="4026" left="72" width="196" height="48" font="7"><b>obesity rate</b></text>
<image top="4116" left="74" width="1000" height="650" src="../charts/{{ country.slug }}_c7.png"/>
<text top="4779" left="72" width="882" height="35" font="9"><b>Source: </b>Development Initiatives based on NCD Risk Factor Collaboration 2017</text>
<text top="4899" left="162" width="219" height="64" font="5"><b>education</b></text>
<text top="5022" left="72" width="613" height="44" font="6">Education is fundamental to a person’s </text>
<text top="5076" left="72" width="193" height="44" font="6">life chances.</text>
{% if country.SecondaryCompletion is not none %}
	<text top="5166" left="72" width="684" height="44" font="6">In {{ country.sentencename }} {{ country.SecondaryCompletion|percent }} of people have </text>
	<text top="5220" left="72" width="640" height="44" font="6">completed secondary school education.</text>
{% else %}
	<image top="5156" left="72" width="1004" height="152" src="no_data_quarter.png"/>
	<text top="{{ (5156 + 0.3421 * 152) | roundInt }}" left="440" width="100" height="44" font="20"><b>No data available</b></text>
{% endif %}
<text top="5304" left="72" width="889" height="48" font="7"><b>percentage who have completed secondary education</b></text>
<image top="5394" left="74" width="1000" height="570" src="../charts/{{ country.slug }}_c4.png"/>
<text top="5985" left="72" width="879" height="35" font="9"><b>Source: </b>Development Initiatives based on UNESCO Institute for Statistics 2018</text>
<text top="6066" left="72" width="801" height="44" font="6">Data is not available that allows us to disaggregate </text>
<text top="6120" left="72" width="766" height="44" font="6">secondary school completion based on income </text>
<text top="6174" left="72" width="755" height="44" font="6">and therefore we are unable to see completion </text>
<text top="6228" left="72" width="780" height="44" font="6">rates for the P20 versus the rest of the population </text>
<text top="6282" left="72" width="226" height="44" font="6">in this country.</text>
<text top="6411" left="162" width="137" height="64" font="5"><b>health</b></text>
<text top="6534" left="72" width="777" height="44" font="6">Poor health plays a major part in keeping people </text>
<text top="6588" left="72" width="801" height="44" font="6">in poverty. If you are among the P20 you are more </text>
<text top="6642" left="72" width="721" height="44" font="6">likely to suffer from preventable diseases and </text>
<text top="6696" left="72" width="205" height="44" font="6">to die earlier.</text>
{% if country.NtlUnder5Mortality is not none %}
	<text top="6786" left="72" width="709" height="44" font="6">In {{ country.sentencename }} the under-five mortality </text>
	<text top="6840" left="72" width="486" height="44" font="6">rate is {{ country.NtlUnder5Mortality|people }} per 1,000 live births.</text>
{% else %}
	<image top="6776" left="72" width="1004" height="152" src="no_data_quarter.png"/>
	<text top="{{ (6776 + 0.3421 * 152) | roundInt }}" left="440" width="100" height="44" font="20"><b>No data available</b></text>
{% endif %}
<text top="6930" left="72" width="801" height="44" font="6">Data is not available that allows us to disaggregate </text>
<text top="6984" left="72" width="672" height="44" font="6">under-five mortality based on income and </text>
<text top="7038" left="72" width="747" height="44" font="6">therefore we are unable to see this information </text>
<text top="7092" left="72" width="694" height="44" font="6">for the P20 versus the rest of the population.</text>
<text top="7191" left="72" width="975" height="35" font="9"><b>Source: </b>Development Initiatives based on World Bank World Development Indicators</text>
<text top="7425" left="72" width="15" height="34" font="12">1 </text>
<text top="7425" left="72" width="15" height="34" font="12"><a name="{{ country.slug }}1"></a></text>
<text top="7426" left="108" width="501" height="32" font="10">Year of latest available data: 2013 (2011 $PPP)</text>
<text top="7631" left="72" width="531" height="43" font="18">If you would like more information  </text>
<text top="7676" left="72" width="555" height="43" font="18">or to speak to us, please get in touch:</text>
<text top="7757" left="72" width="480" height="43" font="18">Zach Christensen, Senior Analyst </text>
<text top="7802" left="72" width="446" height="43" font="19"><a href="mailto:Zach.Christensen%40devinit.org?subject=">Zach.Christensen@devinit.org</a></text>
<text top="7883" left="72" width="434" height="43" font="18">See more about this work at  </text>
<text top="7928" left="72" width="332" height="43" font="19"><a href="http://www.devinit.org/p20i">www.devinit.org/p20i</a></text>
</page>
{% endif %}
{% endfor %}
</pdf2xml>
