<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf2xml SYSTEM "pdf2xml.dtd">

{% set dark_orange = "#DE5D09" %}
{% set orange = "#F39000" %}
{% set light_orange = "#FCC97A" %}
{% set dark_aqua = "#007495" %}
{% set aqua = "#93CAC9" %}
{% set aqua_light = "#B2D8D7" %}
{% set aqua_extra_light = "#D1E7E5" %}
{% set dark_grey = "#475C6D" %}
{% set grey = "#A0ADBB" %}
{% set light_grey = "#CFD9E5" %}

<pdf2xml producer="poppler" version="0.53.0">
<page number="1" position="absolute" top="0" left="0" height="1262" width="892">
	<fontspec id="2" size="59" family="Averta" color="#ffffff"/>
	<fontspec id="3" size="24" family="Averta" color="{{dark_grey}}" indent="36"/>
	<fontspec id="4" size="11" family="Averta" color="{{dark_grey}}"/>
	<fontspec id="5" size="12" family="Averta" color="{{aqua_light}}"/>
	<fontspec id="6" size="13" family="Averta" color="{{dark_orange}}"/>
	<fontspec id="9" size="8" family="Averta" color="{{grey}}"/>
	<fontspec id="24" size="10" family="Averta" color="{{dark_grey}}"/>
	<fontspec id="25" size="10" family="Averta" color="{{dark_grey}}"/>

<image top="0" left="0" width="892" height="124" src="{{template_folder}}/banner.png"/>
<text top="15" left="44" width="28" height="17" font="5">2018 Nutrition country profile</text>
<text top="15" left="212" width="28" height="17" font="5">|</text>
<text top="15" left="220" width="28" height="17" font="5"><link href="http://www.globalnutritionreport.org">globalnutritionreport.org</link></text>
<text top="20" left="39" width="362" height="72" font="2" shrink="True"><b>{{country_data.country}}</b></text>
<!-- Row 1 -->
<text top="133" left="0" width="241" height="18" font="3"><b>Overview</b></text>

<!-- Table 1 and 1a -->
{% set top = 154 %}
{% set left = 40 %}
{% set right = 852 %}
{% set bottom = 1234 %}
{% set page = 1 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Burden classification</b></text>

<text top="{{top+32}}" left="{{left}}" width="530" height="11" font="6">GNR classifies {{country_data.country}} as {{country_data.country_class}} – {{country_data.burden_text}}</text>

{% set top = top + 55 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+12}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="530" height="11" font="9"><b>Sources</b>:  UNICEF/WHO/World Bank Group Joint Child Malnutrition Estimates 2017, WHO 2017, Stevens GA et al 2013, and NCD Risk Factor Collaboration 2017.</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+25}}" y2="{{top+25}}" width="1" color="{{dark_grey}}" on="1" off="0"></line>

{% set top = top + 30 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Progress against global nutrition targets 2018</b></text>
{% set top = top + 30 %}
<table data="table1" top="{{top}}" left="{{left+38}}" widths="165,165,165,165,130" height="30"></table>
<image top="{{top}}" left="{{left}}" width="38" height="38" src="{{template_folder}}/stunting.png"/>
<image top="{{top}}" left="{{left+(165*1)}}" width="38" height="38" src="{{template_folder}}/wasting.png"/>
<image top="{{top}}" left="{{left+(165*2)}}" width="38" height="38" src="{{template_folder}}/overweight.png"/>
<image top="{{top}}" left="{{left+(165*3)}}" width="38" height="38" src="{{template_folder}}/anaemia.png"/>
<image top="{{top}}" left="{{left+(165*4)}}" width="38" height="38" src="{{template_folder}}/ebf.png"/>

{% set top = top + 53 %}
<table data="table1a" top="{{top}}" left="{{left+38}}" widths="165,165,165,165" height="30"></table>
<image top="{{top}}" left="{{left+(165*0)}}" width="38" height="38" src="{{template_folder}}/obesity.png"/>
<image top="{{top}}" left="{{left+(165*1)}}" width="38" height="38" src="{{template_folder}}/obesity.png"/>
<image top="{{top}}" left="{{left+(165*2)}}"  width="38" height="38" src="{{template_folder}}/diabetes.png"/>
<image top="{{top}}" left="{{left+(165*3)}}"  width="38" height="38" src="{{template_folder}}/diabetes.png"/>

{% set top = top + 50 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+38}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="530" height="11" font="9"><b>Sources</b>:  UNICEF/WHO/World Bank Group Joint Child Malnutrition Estimates 2017, WHO 2017, Stevens GA et al 2013, and NCD Risk Factor Collaboration 2017.</text>
<text top="{{top+11}}" left="{{left+4}}" width="585" height="11" font="9"><b>Notes</b>: Some targets are excluded from analysis as data needs further strengthening or methodological work before it can be used, these are: low birth weight, adolescent obesity,</text>
<text top="{{top+22}}" left="{{left+4}}" width="557" height="11" font="9">hypertension and salt intake. See Global Nutrition Report 2018, Appendix 1 for more information. EBF: exclusive breastfeeding; NA: not available; WRA: women of reproductive age.</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+50}}" y2="{{top+50}}" width="4" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Row -->
{% set top = top + 60 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Economics and demography</b></text>

<!-- Chart 1 (prev 1)-->
{% set top = top + 30 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Poverty rates (%) and GDP</b></text>
<image top="{{top+31}}" left="{{left}}" width="115" height="170" src="charts/{{country_data.country}}/c1a.png"/>
<image top="{{top+31}}" left="{{left+117}}" width="115" height="170" src="charts/{{country_data.country}}/c1b.png"/>
<image top="{{top+31}}" left="{{left}}" width="230" height="170" src="charts/{{country_data.country}}/c1.png"/>
<line x1="{{left}}" x2="{{left}}" y1="{{top+218}}" y2="{{top+236}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+213}}" left="{{left+4}}" width="104" height="11" font="9"><b>Source</b>: World Bank 2017.</text>
<text top="{{top+224}}" left="{{left+4}}" width="150" height="11" font="9"><b>Note</b>: PPP =  purchasing power parity.</text>

<line x1="{{left+260}}" x2="{{left+260}}" y1="{{top+10}}" y2="{{top+235}}" on="1" off="0" color="{{grey}}"></line>

<!-- Chart 2 (prev 2) -->
<text top="{{top}}" left="{{left+270}}" width="147" height="18" font="6"><b>Under-5 mortality (per 000 live births)</b></text>
<image top="{{top+31}}" left="{{left+283}}" width="200" height="170" src="charts/{{country_data.country}}/c2.png"/>
<line x1="{{left+283}}" x2="{{left+283}}" y1="{{top+218}}" y2="{{top+236}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+213}}" left="{{left+287}}" width="166" height="11" font="9"><b>Source</b>: UN Inter-agency Group for Child</text>
<text top="{{top+224}}" left="{{left+287}}" width="105" height="11" font="9">Mortality Estimation 2015.</text>

<line x1="{{left+510}}" x2="{{left+510}}" y1="{{top+10}}" y2="{{top+235}}" on="1" off="0" color="{{grey}}"></line>

<!-- Table 2 -->
<text top="{{top}}" left="{{left+529}}" width="117" height="18" font="6"><b>Income inequality</b></text>
<table top="{{top+27}}" left="{{left+529}}" height="30" data="table2" widths="110,107,58"></table>
<line x1="{{left+531}}" x2="{{left+531}}" y1="{{top+72}}" y2="{{top+113}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+67}}" left="{{left+535}}" width="104" height="11" font="9"><b>Source</b>: World Bank 2017.</text>
<text top="{{top+78}}" left="{{left+535}}" width="240" height="11" font="9"><b>Notes</b>: 0 = perfect equality, 100 = perfect inequality. <super>1</super> The</text>
<text top="{{top+89}}" left="{{left+535}}" width="260" height="11" font="9">countries with a Gini index are ranked from most equal (1) to</text>
<text top="{{top+100}}" left="{{left+535}}" width="87" height="11" font="9"><b></b>most unequal (152).<super>2</super></text>

<!-- Table 3 -->
<text top="{{top+119}}" left="{{left+528}}" width="72" height="18" font="6"><b>Population</b></text>
<table top="{{top+146}}" left="{{left+528}}" height="75" data="table3" widths="160,57.5,57.5"></table>
<line x1="{{left+531}}" x2="{{left+531}}" y1="{{top+229}}" y2="{{top+237}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+224}}" left="{{left+535}}" width="173" height="11" font="9"><b>Source</b>: 2017 projections from UN Population Division 2017.</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+254}}" y2="{{top+254}}" width="4" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Row -->
{% set top = top + 271 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Underlying determinants</b></text>

<!-- Chart 3 (prev 9) -->
{% set top = top + 30 %}
<text top="{{top}}" left="{{left}}" width="72" height="15" font="6"><b>Food supply</b></text>
<image top="{{top+19}}" left="{{left}}" width="100" height="200" src="charts/{{country_data.country}}/c3a.png"/>
<image top="{{top+19}}" left="{{left+100}}" width="100" height="200" src="charts/{{country_data.country}}/c3b.png"/>
<image top="{{top+19}}" left="{{left+200}}" width="100" height="200" src="charts/{{country_data.country}}/c3c.png"/>
<image top="{{top+19}}" left="{{left}}" width="150" height="200" src="charts/{{country_data.country}}/c3d.png"/>
<image top="{{top+19}}" left="{{left+150}}" width="150" height="200" src="charts/{{country_data.country}}/c3e.png"/>
<image top="{{top+19}}" left="{{left}}" width="300" height="200" src="charts/{{country_data.country}}/c3.png"/>
<line x1="{{left}}" x2="{{left}}" y1="{{top+231}}" y2="{{top+238}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+226}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<line x1="{{left+315}}" x2="{{left+315}}" y1="{{top+5}}" y2="{{top+240}}" on="1" off="0" color="{{grey}}"></line>

<!-- Table 4 (prev 9) -->
<text top="{{top}}" left="{{left+330}}" width="183" height="15" font="6"><b>Gender-related determinants</b></text>
<table top="{{top+20}}" left="{{left+330}}" height="70" heights="28,16,28" data="table4" widths="195,30,30"></table>
<text top="{{top+95}}" left="{{left+330}}" width="32" height="10" font="9"><b>Sources</b>: UNICEF 2016;<super>1</super> UNDP 2016.<super>2</super></text>
<text top="{{top+106}}" left="{{left+330}}" width="152" height="10" font="9"><b>Note</b>:  *0: low inequality,  1: high  inequality.</text>
<!-- Table  5 (prev 10) -->
<text top="{{top+120}}" left="{{left+330}}" width="236" height="15" font="6"><b>Population density of health workers</b></text>
<text top="{{top+135}}" left="{{left+330}}" width="96" height="15" font="6"><b>per 1,000 people</b></text>
<table top="{{top+155}}" left="{{left+330}}" height="60" data="table5" widths="195,30,30"></table>
<line x1="{{left+330}}" x2="{{left+330}}" y1="{{top+231}}" y2="{{top+238}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+226}}" left="{{left+334}}" width="67" height="10" font="9"><b>Source</b>: WHO 2017.</text>

<line x1="{{left+600}}" x2="{{left+600}}" y1="{{top+5}}" y2="{{top+240}}" on="1" off="0" color="{{grey}}"></line>

<!-- Chart 4 (prev 10) -->
<text top="{{top}}" left="{{left+625}}" width="113" height="15" font="6"><b>Female secondary education</b></text>
<text top="{{top+15}}" left="{{left+625}}" width="156" height="15" font="6"><b>enrolment (% population)</b></text>
<image top="{{top+34}}" left="{{left+625}}" width="200" height="180" src="charts/{{country_data.country}}/c4.png"/>
<line x1="{{left+625}}" x2="{{left+625}}" y1="{{top+231}}" y2="{{top+238}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+226}}" left="{{left+629}}" width="156" height="10" font="9"><b>Source</b>: UNESCO Institute for Statistics 2017.</text>

<!-- Row -->
<!-- Chart 5 (prev 11) -->
{% set top = top + 259 %}
<text top="{{top}}" left="{{left}}" width="229" height="15" font="6"><b>Drinking water coverage (% population)</b></text>
<image top="{{top+25}}" left="{{left}}" width="200" height="185" src="charts/{{country_data.country}}/c5.png"/>
<line x1="{{left}}" x2="{{left}}" y1="{{top+217}}" y2="{{top+224}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+212}}" left="{{left+4}}" width="114" height="10" font="9"><b>Source</b>: WHO/UNICEF Joint Monitoring Programme 2017.</text>

<line x1="{{left+250}}" x2="{{left+250}}" y1="{{top+5}}" y2="{{top+223}}" on="1" off="0" color="{{grey}}"></line>

<!-- Chart 6 (prev 12) -->
<text top="{{top}}" left="{{left+300}}" width="201" height="15" font="6"><b>Sanitation coverage (% population)</b></text>
<image top="{{top+25}}" left="{{left+300}}" width="200" height="185" src="charts/{{country_data.country}}/c6.png"/>
<line x1="{{left+300}}" x2="{{left+300}}" y1="{{top+217}}" y2="{{top+224}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+212}}" left="{{left+304}}" width="114" height="10" font="9"><b>Source</b>: WHO/UNICEF Joint Monitoring Programme 2017.</text>

<line x1="{{left+542}}" x2="{{left+542}}" y1="{{top+5}}" y2="{{top+223}}" on="1" off="0" color="{{grey}}"></line>

<!-- Chart 7 (prev 13) -->
<text top="{{top}}" left="{{left+585}}" width="177" height="15" font="6"><b>Government expenditures (% total)</b></text>
<image top="{{top+25}}" left="{{left+585}}" width="220" height="185" src="charts/{{country_data.country}}/c7.png"/>
<line x1="{{left+585}}" x2="{{left+585}}" y1="{{top+217}}" y2="{{top+224}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+212}}" left="{{left+589}}" width="68" height="10" font="9"><b>Source</b>: IFPRI 2015.</text>

<!-- Footer -->
<image top="1233" left="0" width="892" height="29" src="{{template_folder}}/footer.png"/>
<text top="{{bottom}}" left="{{left}}" width="28" height="17" font="4">{{page}}</text>
{% set page = page + 1 %}
</page>
<page number="2" position="absolute" top="0" left="0" height="1262" width="892">

<image top="0" left="0" width="892" height="84" src="{{template_folder}}/banner_p2.png"/>

<text top="-10" left="39" width="362" height="72" font="2" shrink="True"><b>{{country_data.country}}</b></text>

<!-- Row -->
{% set top = 95 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Child nutrition status</b></text>

<!-- Charts 8, 9, and 10 -->
{% set top = top + 30 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Under-5 by gender: Wasting</b></text>
<image top="{{top + 28}}" left="{{left}}" width="240" height="200" src="charts/{{country_data.country}}/c8.png"/>

<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top+10}}" y2="{{top+256}}" on="1" off="0" color="{{grey}}"></line>
<text top="{{top}}" left="{{left+276}}" width="151" height="18" font="6"><b>Under-5 by gender: Stunting</b></text>
<image top="{{top + 28}}" left="{{left+276}}" width="240" height="200" src="charts/{{country_data.country}}/c9.png"/>

<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top+10}}" y2="{{top+256}}" on="1" off="0" color="{{grey}}"></line>
<text top="{{top}}" left="{{left+556}}" width="151" height="18" font="6"><b>Under-5 by gender: Overweight</b></text>
<image top="{{top + 28}}" left="{{left+556}}" width="240" height="200" src="charts/{{country_data.country}}/c10.png"/>

{% set top = top + 245 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+21}}" y2="{{top+21}}" width="1" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Charts 11, 12, and 13 -->
{% set top = top + 26 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Under-5 by household income: Wasting</b></text>
<image top="{{top + 28}}" left="{{left}}" width="240" height="200" src="charts/{{country_data.country}}/c11.png"/>

<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top+10}}" y2="{{top+256}}" on="1" off="0" color="{{grey}}"></line>
<text top="{{top}}" left="{{left+276}}" width="151" height="18" font="6"><b>Under-5 by household income: Stunting</b></text>
<image top="{{top + 28}}" left="{{left+276}}" width="240" height="200" src="charts/{{country_data.country}}/c12.png"/>

<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top+10}}" y2="{{top+256}}" on="1" off="0" color="{{grey}}"></line>
<text top="{{top}}" left="{{left+556}}" width="151" height="18" font="6"><b>Under-5 by household income: Overweight</b></text>
<image top="{{top + 28}}" left="{{left+556}}" width="240" height="200" src="charts/{{country_data.country}}/c13.png"/>

{% set top = top + 245 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+21}}" y2="{{top+21}}" width="1" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Charts 14, 15, and 16 -->
{% set top = top + 26 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Under-5 by household location: Wasting</b></text>
<image top="{{top + 28}}" left="{{left}}" width="240" height="200" src="charts/{{country_data.country}}/c14.png"/>

<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top+10}}" y2="{{top+256}}" on="1" off="0" color="{{grey}}"></line>
<text top="{{top}}" left="{{left+276}}" width="151" height="18" font="6"><b>Under-5 by household location: Stunting</b></text>
<image top="{{top + 28}}" left="{{left+276}}" width="240" height="200" src="charts/{{country_data.country}}/c15.png"/>

<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top+10}}" y2="{{top+256}}" on="1" off="0" color="{{grey}}"></line>
<text top="{{top}}" left="{{left+556}}" width="151" height="18" font="6"><b>Under-5 by household location: Overweight</b></text>
<image top="{{top + 28}}" left="{{left+556}}" width="240" height="200" src="charts/{{country_data.country}}/c16.png"/>

{% set top = top + 245 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<!-- Row -->
<!-- Chart 17 -->
{% set top = top + 26 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Under-5 coexistence of wasting, stunting and overweight</b></text>
<image top="{{top-10}}" left="{{left+250}}" width="370" height="340" src="charts/{{country_data.country}}/c17.png"/>

<line x1="{{left}}" x2="{{left}}" y1="{{top+285}}" y2="{{top+291}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+280}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<!-- Footer -->
<image top="1233" left="0" width="892" height="29" src="{{template_folder}}/footer.png"/>
<text top="{{bottom}}" left="{{left}}" width="28" height="17" font="4">{{page}}</text>
{% set page = page + 1 %}
</page>
<page number="3" position="absolute" top="0" left="0" height="1262" width="892">

<image top="0" left="0" width="892" height="84" src="{{template_folder}}/banner_p2.png"/>

<text top="-10" left="39" width="362" height="72" font="2" shrink="True"><b>{{country_data.country}}</b></text>

<!-- Row -->
{% set top = 95 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Child-feeding practices</b></text>

<!-- Chart 18 -->
{% set top = top + 20 %}
<image top="{{top+20}}" left="{{left}}" width="800" height="210" src="charts/{{country_data.country}}/c18.png"/>
<image top="{{top+20}}" left="{{left}}" width="450" height="210" src="charts/{{country_data.country}}/c18a.png"/>
<image top="{{top+20}}" left="{{left+450}}" width="350" height="210" src="charts/{{country_data.country}}/c18b.png"/>
<line x1="{{left}}" x2="{{left}}" y1="{{top+265}}" y2="{{top+271}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+260}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+285}}" y2="{{top+285}}" width="4" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Row -->
{% set top = top + 300 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Adolescent nutrition status</b></text>
<!-- Charts 19, 20, and 21 -->
{% set top = top + 21 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Adolescent by gender: Underweight</b></text>
<image top="{{top + 28}}" left="{{left}}" width="240" height="190" src="charts/{{country_data.country}}/c19.png"/>

<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top+10}}" y2="{{top+236}}" on="1" off="0" color="{{grey}}"></line>
<text top="{{top}}" left="{{left+276}}" width="151" height="18" font="6"><b>Adolescent by gender: Overweight</b></text>
<image top="{{top + 28}}" left="{{left+276}}" width="240" height="190" src="charts/{{country_data.country}}/c20.png"/>

<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top+10}}" y2="{{top+236}}" on="1" off="0" color="{{grey}}"></line>
<text top="{{top}}" left="{{left+556}}" width="151" height="18" font="6"><b>Adolescent by gender: Obesity</b></text>
<image top="{{top + 28}}" left="{{left+556}}" width="240" height="190" src="charts/{{country_data.country}}/c21.png"/>

{% set top = top + 225 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+21}}" y2="{{top+21}}" width="4" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Row -->
{% set top = top + 30 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Adult nutrition status</b></text>
<!-- Charts 22, 23, and 24 -->
{% set top = top + 21 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Adult by gender: Diabetes</b></text>
<image top="{{top + 28}}" left="{{left}}" width="240" height="190" src="charts/{{country_data.country}}/c22.png"/>

<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top+10}}" y2="{{top+246}}" on="1" off="0" color="{{grey}}"></line>
<text top="{{top}}" left="{{left+276}}" width="151" height="18" font="6"><b>Adult by gender: Overweight</b></text>
<image top="{{top + 28}}" left="{{left+276}}" width="240" height="190" src="charts/{{country_data.country}}/c23.png"/>

<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top+10}}" y2="{{top+246}}" on="1" off="0" color="{{grey}}"></line>
<text top="{{top}}" left="{{left+556}}" width="151" height="18" font="6"><b>Adult by gender: Obesity</b></text>
<image top="{{top + 28}}" left="{{left+556}}" width="240" height="190" src="charts/{{country_data.country}}/c24.png"/>

{% set top = top + 235 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+21}}" y2="{{top+21}}" width="1" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Charts 25, 26, and 27 -->
{% set top = top + 15 %}
<text top="{{top+11}}" left="{{left}}" width="151" height="18" font="6"><b>Adult by gender: Raised blood pressure</b></text>
<image top="{{top + 39}}" left="{{left}}" width="240" height="190" src="charts/{{country_data.country}}/c25.png"/>

<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top+21}}" y2="{{top+256}}" on="1" off="0" color="{{grey}}"></line>
<text top="{{top+11}}" left="{{left+276}}" width="151" height="18" font="6"><b>Adult by gender: Anaemia in WRA</b></text>
<image top="{{top + 39}}" left="{{left+276}}" width="240" height="190" src="charts/{{country_data.country}}/c26.png"/>

<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top+21}}" y2="{{top+256}}" on="1" off="0" color="{{grey}}"></line>
<text top="{{top+11}}" left="{{left+556}}" width="151" height="18" font="6"><b>Adult: Sodium intake</b></text>
<image top="{{top + 39}}" left="{{left+556}}" width="240" height="190" src="charts/{{country_data.country}}/c27.png"/>

{% set top = top + 245 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<!-- Footer -->
<image top="1233" left="0" width="892" height="29" src="{{template_folder}}/footer.png"/>
<text top="{{bottom}}" left="{{left}}" width="28" height="17" font="4">{{page}}</text>
{% set page = page + 1 %}
</page>
<page number="4" position="absolute" top="0" left="0" height="1262" width="892">

<image top="0" left="0" width="892" height="84" src="{{template_folder}}/banner_p2.png"/>

<text top="-10" left="39" width="362" height="72" font="2" shrink="True"><b>{{country_data.country}}</b></text>

<!-- Row -->
{% set top = 95 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Dietary needs</b></text>

<!-- Chart 28 -->
{% set top = top + 20 %}
<image top="{{top+20}}" left="{{left}}" width="450" height="320" src="charts/{{country_data.country}}/c28a.png"/>
<image top="{{top+20}}" left="{{left+450}}" width="350" height="320" src="charts/{{country_data.country}}/c28b.png"/>
<image top="{{top+210}}" left="{{left+5}}" width="80" height="16" src="{{template_folder}}/trmel.png"/>
<line x1="{{left}}" x2="{{left}}" y1="{{top+355}}" y2="{{top+361}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+350}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+380}}" y2="{{top+380}}" width="4" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Row -->
{% set top = top + 400 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Financial resources and policy, legislation, and institutional arrangements</b></text>

<!-- Chart 29 -->
{% set top = top + 20 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Development assistance</b></text>
<image top="{{top+20}}" left="{{left}}" width="400" height="200" src="charts/{{country_data.country}}/c29.png"/>
<line x1="{{left}}" x2="{{left}}" y1="{{top+235}}" y2="{{top+241}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+230}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<line x1="{{left+420}}" x2="{{left+420}}" y1="{{top+10}}" y2="{{top+241}}" on="1" off="0" color="{{grey}}"></line>

<!-- Table 6 -->
<text top="{{top}}" left="{{left+440}}" width="151" height="18" font="6"><b>National policies</b></text>
<table data="table6" top="{{top+30}}" left="{{left+440}}" widths="300,50" height="150"></table>
<line x1="{{left+440}}" x2="{{left+440}}" y1="{{top+235}}" y2="{{top+241}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+230}}" left="{{left+444}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<!-- Row -->
{% set top = top + 245 %}
<text top="{{top}}" left="{{left}}" width="241" height="18" font="6"><b>Targets included in national (nutrition or other) plan</b></text>

<!-- Table 7 -->
{% set top = top + 25 %}
<table data="table7" top="{{top}}" left="{{left}}" width="812" height="70"></table>
<line x1="{{left}}" x2="{{left}}" y1="{{top+85}}" y2="{{top+91}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+80}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+105}}" y2="{{top+105}}" width="4" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Row -->
{% set top = top + 125 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Intervention coverage</b></text>

<!-- Table 8 -->
{% set top = top + 40 %}
<table data="table8" top="{{top}}" left="{{left}}" widths="550,65,65,65,65" height="200"></table>
<line x1="{{left}}" x2="{{left}}" y1="{{top+215}}" y2="{{top+221}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+210}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>


<!-- Footer -->
<image top="1233" left="0" width="892" height="29" src="{{template_folder}}/footer.png"/>
<text top="{{bottom}}" left="{{left}}" width="28" height="17" font="4">{{page}}</text>
<text top="{{bottom-4}}" left="{{right-220}}" width="254" height="14" font="25"><link href="http://globalnutritionreport.org/the-report/technical-notes">globalnutritionreport.org/the-report/technical-notes</link></text>
<text top="{{bottom+7}}" left="{{right-220}}" width="230" height="14" font="24"><b>© 2018 Development Initiatives Poverty Research Ltd.</b></text>
{% set page = page + 1 %}
</page>
</pdf2xml>
