<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf2xml SYSTEM "pdf2xml.dtd">

<pdf2xml producer="poppler" version="0.53.0">
<page number="1" position="absolute" top="0" left="0" height="1262" width="892">
	<fontspec id="0" size="14" family="Times" color="#ffffff"/>
	<fontspec id="1" size="11" family="Times" color="#ffffff"/>
	<fontspec id="2" size="59" family="Times" color="#ffffff"/>
	<fontspec id="3" size="24" family="Times" color="#3F5467" indent="41"/>
	<fontspec id="4" size="11" family="Times" color="#3F5467"/>
	<fontspec id="5" size="12" family="Times" color="#A6DACF"/>
	<fontspec id="6" size="13" family="Times" color="#D9511B"/>
	<fontspec id="7" size="10" family="Times" color="#575756"/>
	<fontspec id="8" size="7" family="Times" color="#3c3c3b"/>
	<fontspec id="9" size="8" family="Times" color="#8798A5"/>
	<fontspec id="10" size="8" family="Times" color="#ffffff"/>
	<fontspec id="11" size="6" family="Times" color="#ffffff"/>
	<fontspec id="12" size="5" family="Times" color="#3c3c3b"/>
	<fontspec id="13" size="8" family="Times" color="#3c3c3b"/>
	<fontspec id="14" size="6" family="Times" color="#3c3c3b"/>
	<fontspec id="15" size="11" family="Times" color="#575756"/>
	<fontspec id="16" size="9" family="Times" color="#ffffff"/>
	<fontspec id="17" size="7" family="Times" color="#ffffff"/>
	<fontspec id="18" size="9" family="Times" color="#234c5e"/>

<image top="0" left="0" width="892" height="124" src="{{template_folder}}/banner.png"/>
<text top="15" left="44" width="28" height="17" font="5">2018 Nutrition country profile</text>
<text top="15" left="202" width="28" height="17" font="5">|</text>
<text top="15" left="210" width="28" height="17" font="5"><link href="http://www.globalnutritionreport.org">globalnutritionreport.org</link></text>
<text top="20" left="39" width="362" height="72" font="2" shrink="True">{{country_data.country}}</text>
<!-- Row 1 -->
<text top="133" left="0" width="241" height="18" font="3"><b>Overview</b></text>

<!-- Table 1 -->
<text top="154" left="42" width="151" height="18" font="6"><b>Progress against global nutrition targets 2018</b></text>
<!-- <image top="185" left="0" width="892" height="165" src="{{template_folder}}/footer.png"/> -->
<table data="table1" top="207" left="54" widths="165,165,165,165,130" height="30"></table>
<table data="table1a" top="257" left="125" widths="161,161,161,161" height="30"></table>
<line x1="40" x2="40" y1="300" y2="330" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="295" left="44" width="530" height="11" font="9"><b>Sources</b>:  UNICEF/WHO/World Bank Group Joint Child Malnutrition Estimates 2017, WHO 2017, Stevens GA et al 2013, and NCD Risk Factor Collaboration 2017.</text>
<text top="306" left="44" width="585" height="11" font="9"><b>Notes</b>: Some targets are excluded from analysis as data needs further strengthening or methodological work before it can be used, these are: low birth weight, adolescent obesity,</text>
<text top="317" left="44" width="557" height="11" font="9">hypertension and salt intake. See Global Nutrition Report 2018, Appendix 1 for more information. EBF: exclusive breastfeeding; NA: not available; WRA: women of reproductive age.</text>

<!-- Row 2 -->
<line x1="41" x2="851" y1="405" y2="405" width="4" color="#3F5467" on="1" off="0"></line>
<!-- Row X
<text top="133" left="0" width="241" height="18" font="3"><b>Economics and demography</b></text>

Chart X
<text top="154" left="42" width="151" height="18" font="6"><b>Poverty rates (%) and GDP</b></text>
<image top="185" left="42" width="115" height="170" src="charts/{{country_data.country}}/c1a.png"/>
<image top="185" left="157" width="115" height="170" src="charts/{{country_data.country}}/c1b.png"/>
<image top="185" left="42" width="230" height="170" src="charts/{{country_data.country}}/c1.png"/>
<line x1="43" x2="43" y1="372" y2="391" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="367" left="48" width="104" height="11" font="9"><b>Source</b>: World Bank 2017.</text>
<text top="378" left="48" width="150" height="11" font="9"><b>Note</b>: PPP =  purchasing power parity.</text>

<line x1="290" x2="290" y1="163" y2="395" on="1" off="0" color="#BFC9D3"></line>

Chart X
<text top="154" left="323" width="147" height="18" font="6"><b>Under-5 mortality rate</b></text>
<image top="185" left="323" width="200" height="170" src="charts/{{country_data.country}}/c2.png"/>
<line x1="326" x2="326" y1="372" y2="391" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="367" left="330" width="166" height="11" font="9"><b>Source</b>: UN Inter-agency Group for Child</text>
<text top="378" left="330" width="105" height="11" font="9">Mortality Estimation 2015.</text>

<line x1="540" x2="540" y1="163" y2="395" on="1" off="0" color="#BFC9D3"></line>

Table X
<text top="154" left="569" width="117" height="18" font="6"><b>Income inequality</b></text>
<table top="181" left="569" height="30" data="table1" widths="110,107,58"></table>
<line x1="571" x2="571" y1="226" y2="267" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="221" left="575" width="104" height="11" font="9"><b>Source</b>: World Bank 2017.</text>
<text top="232" left="575" width="240" height="11" font="9"><b>Notes</b>: <super>1</super>0 = perfect equality, 100 = perfect inequality. <super>2</super>The</text>
<text top="243" left="575" width="260" height="11" font="9">countries with a Gini index are ranked from most equal (1) to</text>
<text top="253" left="575" width="87" height="11" font="9">most unequal (152).</text>

Table X
<text top="273" left="568" width="72" height="18" font="6"><b>Population</b></text>
<table top="300" left="568" height="75" data="table2" widths="160,57.5,57.5"></table>
<line x1="571" x2="571" y1="383" y2="390" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="378" left="575" width="173" height="11" font="9"><b>Source</b>: 2017 projections from UN Population Division 2017.</text>
-->
</page>
</pdf2xml>
