<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf2xml SYSTEM "pdf2xml.dtd">

<pdf2xml producer="poppler" version="0.53.0">
<page number="1" position="absolute" top="0" left="0" height="1262" width="892">
	<fontspec id="0" size="14" family="Times" color="#ffffff"/>
	<fontspec id="1" size="11" family="Times" color="#ffffff"/>
	<fontspec id="2" size="59" family="Times" color="#ffffff"/>
	<fontspec id="3" size="24" family="Times" color="#3F5467" indent="41"/>
	<fontspec id="4" size="11" family="Times" color="#3F5467"/>
	<fontspec id="5" size="12" family="Times" color="#A6DACF"/>
	<fontspec id="6" size="13" family="Times" color="#D9511B"/>
	<fontspec id="7" size="10" family="Times" color="#575756"/>
	<fontspec id="8" size="7" family="Times" color="#3c3c3b"/>
	<fontspec id="9" size="8" family="Times" color="#8798A5"/>
	<fontspec id="10" size="8" family="Times" color="#ffffff"/>
	<fontspec id="11" size="6" family="Times" color="#ffffff"/>
	<fontspec id="12" size="5" family="Times" color="#3c3c3b"/>
	<fontspec id="13" size="8" family="Times" color="#3c3c3b"/>
	<fontspec id="14" size="6" family="Times" color="#3c3c3b"/>
	<fontspec id="15" size="11" family="Times" color="#575756"/>
	<fontspec id="16" size="9" family="Times" color="#ffffff"/>
	<fontspec id="17" size="7" family="Times" color="#ffffff"/>
	<fontspec id="18" size="9" family="Times" color="#234c5e"/>

<image top="0" left="0" width="892" height="124" src="{{template_folder}}/banner.png"/>
<text top="15" left="44" width="28" height="17" font="5">2018 Nutrition country profile</text>
<text top="15" left="202" width="28" height="17" font="5">|</text>
<text top="15" left="210" width="28" height="17" font="5"><link href="http://www.globalnutritionreport.org">globalnutritionreport.org</link></text>
<text top="20" left="39" width="362" height="72" font="2" shrink="True">{{country_data.country}}</text>
<!-- Row 1 -->
<text top="133" left="0" width="241" height="18" font="3"><b>Overview</b></text>

<!-- Table 1 -->
{% set top = 154 %}
{% set left = 40 %}
{% set right = 852 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Progress against global nutrition targets 2018</b></text>
<table data="table1" top="{{top+53}}" left="{{left+52}}" widths="165,165,165,165,130" height="30"></table>
<image top="{{top+53}}" left="{{left+14}}" width="38" height="38" src="{{template_folder}}/stunting.png"/>
<image top="{{top+53}}" left="{{left+14+(165*1)}}" width="38" height="38" src="{{template_folder}}/wasting.png"/>
<image top="{{top+53}}" left="{{left+14+(165*2)}}" width="38" height="38" src="{{template_folder}}/overweight.png"/>
<image top="{{top+53}}" left="{{left+14+(165*3)}}" width="38" height="38" src="{{template_folder}}/anaemia.png"/>
<image top="{{top+53}}" left="{{left+14+(165*4)}}" width="38" height="38" src="{{template_folder}}/ebf.png"/>
<table data="table1a" top="{{top+103}}" left="{{left+123}}" widths="161,161,161,161" height="30"></table>

{% set top = top + 103 %}
<image top="{{top}}" left="{{left+85+(161*0)}}" width="38" height="38" src="{{template_folder}}/obesity.png"/>
<image top="{{top}}" left="{{left+85+(161*1)}}" width="38" height="38" src="{{template_folder}}/obesity.png"/>
<image top="{{top}}" left="{{left+85+(161*2)}}"  width="38" height="38" src="{{template_folder}}/diabetes.png"/>
<image top="{{top}}" left="{{left+85+(161*3)}}"  width="38" height="38" src="{{template_folder}}/diabetes.png"/>

<text top="315" left="{{left}}" width="530" height="11" font="4"><b>Burden classification:</b> {{country_data.country}} is classified as {{country_data.country_class}}: {{country_data.burden_text}}</text>

{% set top = top + 88 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="380" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="530" height="11" font="9"><b>Sources</b>:  UNICEF/WHO/World Bank Group Joint Child Malnutrition Estimates 2017, WHO 2017, Stevens GA et al 2013, and NCD Risk Factor Collaboration 2017.</text>
<text top="{{top+11}}" left="{{left+4}}" width="585" height="11" font="9"><b>Notes</b>: Some targets are excluded from analysis as data needs further strengthening or methodological work before it can be used, these are: low birth weight, adolescent obesity,</text>
<text top="{{top+22}}" left="{{left+4}}" width="557" height="11" font="9">hypertension and salt intake. See Global Nutrition Report 2018, Appendix 1 for more information. EBF: exclusive breastfeeding; NA: not available; WRA: women of reproductive age.</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+50}}" y2="{{top+50}}" width="4" color="#3F5467" on="1" off="0"></line>

<!-- Row 2 -->
<text top="{{top+70}}" left="0" width="241" height="18" font="3"><b>Data</b></text>

<!-- Charts 1, 2, and 3 -->
{% set top = top + 91 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Child (under 5) nutrition status</b></text>

{% set top = top + 19 %}
<image top="{{top}}" left="{{left}}" width="240" height="200" src="charts/{{country_data.country}}/c9a.png"/>
<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top}}" y2="{{top+200}}" on="1" off="0" color="#BFC9D3"></line>
<image top="{{top}}" left="{{left+276}}" width="240" height="200" src="charts/{{country_data.country}}/c9b.png"/>
<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top}}" y2="{{top+200}}" on="1" off="0" color="#BFC9D3"></line>
<image top="{{top}}" left="{{left+556}}" width="240" height="200" src="charts/{{country_data.country}}/c9c.png"/>

{% set top = top + 216 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+21}}" y2="{{top+21}}" width="1" color="#3F5467" on="1" off="0"></line>

<!-- Charts 4, 5, and 6 -->
{% set top = top + 26 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Disaggregation by income</b></text>

{% set top = top + 29 %}
<image top="{{top}}" left="{{left}}" width="240" height="200" src="charts/{{country_data.country}}/c9a.png"/>
<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top}}" y2="{{top+200}}" on="1" off="0" color="#BFC9D3"></line>
<image top="{{top}}" left="{{left+276}}" width="240" height="200" src="charts/{{country_data.country}}/c9b.png"/>
<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top}}" y2="{{top+200}}" on="1" off="0" color="#BFC9D3"></line>
<image top="{{top}}" left="{{left+556}}" width="240" height="200" src="charts/{{country_data.country}}/c9c.png"/>

{% set top = top + 216 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+21}}" y2="{{top+21}}" width="1" color="#3F5467" on="1" off="0"></line>

<!-- Charts 7, 8, and 9 -->
{% set top = top + 26 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Disaggregation by gender</b></text>

{% set top = top + 29 %}
<image top="{{top}}" left="{{left}}" width="240" height="200" src="charts/{{country_data.country}}/c9a.png"/>
<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top}}" y2="{{top+200}}" on="1" off="0" color="#BFC9D3"></line>
<image top="{{top}}" left="{{left+276}}" width="240" height="200" src="charts/{{country_data.country}}/c9b.png"/>
<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top}}" y2="{{top+200}}" on="1" off="0" color="#BFC9D3"></line>
<image top="{{top}}" left="{{left+556}}" width="240" height="200" src="charts/{{country_data.country}}/c9c.png"/>

{% set top = top + 216 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: FAOSTAT 2015;<super>1</super> FAOSTAT 2014.<super>2</super></text>
</page>
<page number="2" position="absolute" top="0" left="0" height="1262" width="892">
	<fontspec id="24" size="10" family="Times" color="#575756"/>
	<fontspec id="25" size="10" family="Times" color="#575756"/>

<image top="0" left="0" width="892" height="84" src="{{template_folder}}/banner_p2.png"/>

<text top="-10" left="39" width="362" height="72" font="2" shrink="True">{{country_data.country}}</text>

<!--Row 1-->
{% set top = 91 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Disaggregation by location</b></text>
<!-- Row X
<text top="133" left="0" width="241" height="18" font="3"><b>Economics and demography</b></text>

Chart X
<text top="154" left="42" width="151" height="18" font="6"><b>Poverty rates (%) and GDP</b></text>
<image top="185" left="42" width="115" height="170" src="charts/{{country_data.country}}/c1a.png"/>
<image top="185" left="157" width="115" height="170" src="charts/{{country_data.country}}/c1b.png"/>
<image top="185" left="42" width="230" height="170" src="charts/{{country_data.country}}/c1.png"/>
<line x1="43" x2="43" y1="372" y2="391" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="367" left="48" width="104" height="11" font="9"><b>Source</b>: World Bank 2017.</text>
<text top="378" left="48" width="150" height="11" font="9"><b>Note</b>: PPP =  purchasing power parity.</text>

<line x1="290" x2="290" y1="163" y2="395" on="1" off="0" color="#BFC9D3"></line>

Chart X
<text top="154" left="323" width="147" height="18" font="6"><b>Under-5 mortality rate</b></text>
<image top="185" left="323" width="200" height="170" src="charts/{{country_data.country}}/c2.png"/>
<line x1="326" x2="326" y1="372" y2="391" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="367" left="330" width="166" height="11" font="9"><b>Source</b>: UN Inter-agency Group for Child</text>
<text top="378" left="330" width="105" height="11" font="9">Mortality Estimation 2015.</text>

<line x1="540" x2="540" y1="163" y2="395" on="1" off="0" color="#BFC9D3"></line>

Table X
<text top="154" left="569" width="117" height="18" font="6"><b>Income inequality</b></text>
<table top="181" left="569" height="30" data="table1" widths="110,107,58"></table>
<line x1="571" x2="571" y1="226" y2="267" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="221" left="575" width="104" height="11" font="9"><b>Source</b>: World Bank 2017.</text>
<text top="232" left="575" width="240" height="11" font="9"><b>Notes</b>: <super>1</super>0 = perfect equality, 100 = perfect inequality. <super>2</super>The</text>
<text top="243" left="575" width="260" height="11" font="9">countries with a Gini index are ranked from most equal (1) to</text>
<text top="253" left="575" width="87" height="11" font="9">most unequal (152).</text>

Table X
<text top="273" left="568" width="72" height="18" font="6"><b>Population</b></text>
<table top="300" left="568" height="75" data="table2" widths="160,57.5,57.5"></table>
<line x1="571" x2="571" y1="383" y2="390" on="1" off="0" color="#7DBEB3" width="2"></line>
<text top="378" left="575" width="173" height="11" font="9"><b>Source</b>: 2017 projections from UN Population Division 2017.</text>
-->
</page>
</pdf2xml>
