<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf2xml SYSTEM "pdf2xml.dtd">

{% set dark_orange = "#DE5D09" %}
{% set orange = "#F39000" %}
{% set light_orange = "#FCC97A" %}
{% set dark_aqua = "#007495" %}
{% set aqua = "#93CAC9" %}
{% set aqua_light = "#B2D8D7" %}
{% set aqua_extra_light = "#D1E7E5" %}
{% set dark_grey = "#475C6D" %}
{% set grey = "#A0ADBB" %}
{% set light_grey = "#CFD9E5" %}

<pdf2xml producer="poppler" version="0.53.0">
<page number="1" position="absolute" top="0" left="0" height="1262" width="892">
	<fontspec id="2" size="59" family="Averta" color="#ffffff"/>
	<fontspec id="3" size="24" family="Averta" color="{{dark_grey}}" indent="36"/>
	<fontspec id="4" size="11" family="Averta" color="{{dark_grey}}"/>
	<fontspec id="5" size="12" family="Averta" color="{{aqua_light}}"/>
	<fontspec id="6" size="13" family="Averta" color="{{dark_orange}}"/>
	<fontspec id="9" size="8" family="Averta" color="{{grey}}"/>
	<fontspec id="24" size="10" family="Averta" color="{{dark_grey}}"/>
	<fontspec id="25" size="10" family="Averta" color="{{dark_grey}}"/>

<image top="0" left="0" width="892" height="124" src="{{template_folder}}/banner.png"/>
<text top="15" left="44" width="28" height="17" font="5">2018 Nutrition global profile</text>
<text top="15" left="202" width="28" height="17" font="5">|</text>
<text top="15" left="210" width="28" height="17" font="5"><link href="http://www.globalnutritionreport.org">globalnutritionreport.org</link></text>

<text top="20" left="39" width="800" height="72" font="2" shrink="True"><b>{{country_data.country}}</b></text>
<!-- Row 1 -->
<text top="133" left="0" width="241" height="18" font="3"><b>Overview</b></text>

<!-- Table 1 and 1a -->
{% set top = 154 %}
{% set left = 40 %}
{% set right = 852 %}
{% set bottom = 1234 %}
{% set page = 1 %}

<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Progress against global nutrition targets 2018</b></text>
{% set top = top + 30 %}
<table data="table1" top="{{top}}" left="{{left+38}}" widths="165,165,165,165,130" height="30"></table>
<image top="{{top}}" left="{{left}}" width="38" height="38" src="{{template_folder}}/stunting.png"/>
<image top="{{top}}" left="{{left+(165*1)}}" width="38" height="38" src="{{template_folder}}/wasting.png"/>
<image top="{{top}}" left="{{left+(165*2)}}" width="38" height="38" src="{{template_folder}}/overweight.png"/>
<image top="{{top}}" left="{{left+(165*3)}}" width="38" height="38" src="{{template_folder}}/anaemia.png"/>
<image top="{{top}}" left="{{left+(165*4)}}" width="38" height="38" src="{{template_folder}}/ebf.png"/>

{% set top = top + 53 %}
<table data="table1a" top="{{top}}" left="{{left+38}}" widths="165,165,165,165" height="30"></table>
<image top="{{top}}" left="{{left+(165*0)}}" width="38" height="38" src="{{template_folder}}/obesity.png"/>
<image top="{{top}}" left="{{left+(165*1)}}" width="38" height="38" src="{{template_folder}}/obesity.png"/>
<image top="{{top}}" left="{{left+(165*2)}}"  width="38" height="38" src="{{template_folder}}/diabetes.png"/>
<image top="{{top}}" left="{{left+(165*3)}}"  width="38" height="38" src="{{template_folder}}/diabetes.png"/>

{% set top = top + 50 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+34}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="530" height="11" font="9"><b>Sources</b>: UNICEF/WHO/World Bank Group: Joint child malnutrition estimates, UNICEF global databases: Infant and Young Child Feeding, NCD Risk Factor Collaboration, WHO Global Health Observatory.</text>
<text top="{{top+11}}" left="{{left+4}}" width="585" height="11" font="9"><b>Notes</b>: The methodologies for tracking differ between targets. Data on the adult indicators are based on modelled estimates. See Appendix 1 of the <i>2018 Global Nutrition Report</i> for details of</text>
<text top="{{top+22}}" left="{{left+4}}" width="557" height="11" font="9">the methods and sources used to assess progress towards global nutrition targets.</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+50}}" y2="{{top+50}}" width="4" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Row -->
{% set top = top + 60 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Economics and demography</b></text>

<!-- Chart 1 (prev 1)-->
{% set top = top + 30 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Poverty rates (%) and GDP (PPP$)</b></text>
<image top="{{top+31}}" left="{{left}}" width="115" height="170" src="charts_world/{{country_data.country}}/c1a.png"/>
<image top="{{top+31}}" left="{{left+117}}" width="115" height="170" src="charts_world/{{country_data.country}}/c1b.png"/>
<image top="{{top+31}}" left="{{left}}" width="230" height="170" src="charts_world/{{country_data.country}}/c1.png"/>
<line x1="{{left}}" x2="{{left}}" y1="{{top+218}}" y2="{{top+245}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+213}}" left="{{left+4}}" width="104" height="11" font="9"><b>Source</b>: World Bank 2018.</text>
<text top="{{top+224}}" left="{{left+4}}" width="150" height="11" font="9"><b>Note</b>: GDP = gross domestic product. PPP =  purchasing power</text>
<text top="{{top+234}}" left="{{left+4}}" width="150" height="11" font="9"> parity.</text>

<line x1="{{left+260}}" x2="{{left+260}}" y1="{{top+10}}" y2="{{top+235}}" on="1"  off="0" color="{{dark_grey}}"></line>

<!-- Chart 2 (prev 2) -->
<text top="{{top}}" left="{{left+270}}" width="147" height="18" font="6"><b>Under-5 mortality (per 000 live births)</b></text>
<image top="{{top+31}}" left="{{left+283}}" width="200" height="170" src="charts_world/{{country_data.country}}/c2.png"/>
<line x1="{{left+283}}" x2="{{left+283}}" y1="{{top+218}}" y2="{{top+236}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+213}}" left="{{left+287}}" width="166" height="11" font="9"><b>Source</b>: UN Inter-agency Group for Child</text>
<text top="{{top+224}}" left="{{left+287}}" width="105" height="11" font="9">Mortality Estimation 2018.</text>

<line x1="{{left+510}}" x2="{{left+510}}" y1="{{top+10}}" y2="{{top+235}}" on="1"  off="0" color="{{dark_grey}}"></line>


<!-- Table 3 -->
<text top="{{top}}" left="{{left+528}}" width="72" height="18" font="6"><b>Population</b></text>
<table top="{{top+27}}" left="{{left+528}}" height="175" data="table3" widths="160,57.5,57.5"></table>
<line x1="{{left+531}}" x2="{{left+531}}" y1="{{top+218}}" y2="{{top+226}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+213}}" left="{{left+535}}" width="173" height="11" font="9"><b>Source</b>: UN Population Division 2017.</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+254}}" y2="{{top+254}}" width="4" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Row -->
{% set top = top + 271 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Underlying determinants</b></text>

<!-- Chart 3 (prev 9) -->
{% set top = top + 30 %}
<text top="{{top}}" left="{{left}}" width="72" height="15" font="6"><b>Food supply</b></text>
<image top="{{top+19}}" left="{{left}}" width="100" height="200" src="charts_world/{{country_data.country}}/c3a.png"/>
<image top="{{top+19}}" left="{{left+100}}" width="100" height="200" src="charts_world/{{country_data.country}}/c3b.png"/>
<image top="{{top+19}}" left="{{left+200}}" width="100" height="200" src="charts_world/{{country_data.country}}/c3c.png"/>
<image top="{{top+19}}" left="{{left}}" width="150" height="200" src="charts_world/{{country_data.country}}/c3d.png"/>
<image top="{{top+19}}" left="{{left+150}}" width="150" height="200" src="charts_world/{{country_data.country}}/c3e.png"/>
<image top="{{top+19}}" left="{{left}}" width="300" height="200" src="charts_world/{{country_data.country}}/c3.png"/>
<line x1="{{left}}" x2="{{left}}" y1="{{top+231}}" y2="{{top+238}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+226}}" left="{{left+4}}" width="28" height="10" font="9"><b>Source</b>: FAOSTAT 2018.{% if  country_data.country=="Latin America and the Caribbean" %} Fruit and vegetable data is based on unweighted means.{% endif %}</text>

<line x1="{{left+315}}" x2="{{left+315}}" y1="{{top+5}}" y2="{{top+240}}" on="1"  off="0" color="{{dark_grey}}"></line>

<!-- Table 4 (prev 9) -->
<text top="{{top}}" left="{{left+330}}" width="183" height="15" font="6"><b>Gender-related determinants</b></text>
<table top="{{top+20}}" left="{{left+330}}" height="40" data="table4" widths="165,30,60"></table>
<line x1="{{left+330}}" x2="{{left+330}}" y1="{{top+70}}" y2="{{top+86}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+65}}" left="{{left+334}}" width="32" height="10" font="9"><b>Source</b>: UNICEF 2018.</text>
<text top="{{top+76}}" left="{{left+334}}" width="152" height="10" font="9"><b>Note</b>: n = {{country_data.table4_n}}.</text>
<!-- Table  5 (prev 10) -->
<text top="{{top+90}}" left="{{left+330}}" width="236" height="15" font="6"><b>Population density of health workers</b></text>
<text top="{{top+105}}" left="{{left+330}}" width="96" height="15" font="6"><b>per 1,000 people</b></text>
<table top="{{top+125}}" left="{{left+330}}" height="90" data="table5" widths="165,30,60"></table>
<line x1="{{left+330}}" x2="{{left+330}}" y1="{{top+220}}" y2="{{top+236}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+215}}" left="{{left+334}}" width="67" height="10" font="9"><b>Source</b>: WHO's Global Health Workforce Statistics, OECD,</text>
<text top="{{top+224}}" left="{{left+334}}" width="67" height="10" font="9">supplemented by country data. n = {{country_data.table5_n}}</text>

<line x1="{{left+600}}" x2="{{left+600}}" y1="{{top+5}}" y2="{{top+240}}" on="1"  off="0" color="{{dark_grey}}"></line>

<!-- Chart 4 (prev 10) -->
<text top="{{top}}" left="{{left+625}}" width="113" height="15" font="6"><b>Female secondary education</b></text>
<text top="{{top+15}}" left="{{left+625}}" width="156" height="15" font="6"><b>enrolment (net, % population)</b></text>
<image top="{{top+34}}" left="{{left+625}}" width="200" height="180" src="charts_world/{{country_data.country}}/c4.png"/>
<line x1="{{left+625}}" x2="{{left+625}}" y1="{{top+231}}" y2="{{top+238}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+226}}" left="{{left+629}}" width="156" height="10" font="9"><b>Source</b>: UNESCO Institute for Statistics 2018.</text>

<!-- Row -->
<!-- Chart 5 (prev 11) -->
{% set top = top + 239 %}
<text top="{{top}}" left="{{left}}" width="229" height="15" font="6"><b>Drinking water coverage (% population)</b></text>
<image top="{{top+25}}" left="{{left}}" width="200" height="185" src="charts_world/{{country_data.country}}/c5.png"/>
<line x1="{{left}}" x2="{{left}}" y1="{{top+217}}" y2="{{top+224}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+212}}" left="{{left+4}}" width="114" height="10" font="9"><b>Source</b>: WHO/UNICEF Joint Monitoring Programme 2017.</text>

<line x1="{{left+250}}" x2="{{left+250}}" y1="{{top+5}}" y2="{{top+223}}" on="1"  off="0" color="{{dark_grey}}"></line>

<!-- Chart 6 (prev 12) -->
<text top="{{top}}" left="{{left+300}}" width="201" height="15" font="6"><b>Sanitation coverage (% population)</b></text>
<image top="{{top+25}}" left="{{left+300}}" width="200" height="185" src="charts_world/{{country_data.country}}/c6.png"/>
<line x1="{{left+300}}" x2="{{left+300}}" y1="{{top+217}}" y2="{{top+225}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+212}}" left="{{left+304}}" width="114" height="10" font="9"><b>Source</b>: WHO/UNICEF Joint Monitoring Programme 2017.</text>

<line x1="{{left+542}}" x2="{{left+542}}" y1="{{top+5}}" y2="{{top+223}}" on="1"  off="0" color="{{dark_grey}}"></line>

<!-- Chart 7 (prev 13) -->
<text top="{{top}}" left="{{left+585}}" width="177" height="15" font="6"><b>Government expenditures (% total)</b></text>
<image top="{{top+25}}" left="{{left+585}}" width="220" height="185" src="charts_world/{{country_data.country}}/c7.png"/>
<line x1="{{left+585}}" x2="{{left+585}}" y1="{{top+217}}" y2="{{top+224}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+212}}" left="{{left+589}}" width="68" height="10" font="9"><b>Source</b>: IFPRI 2015.</text>

<!-- Footer -->
<image top="1233" left="0" width="892" height="29" src="{{template_folder}}/footer.png"/>
<text top="{{bottom}}" left="{{left}}" width="28" height="17" font="4">{{page}}</text>
{% set page = page + 1 %}
</page>
<page number="2" position="absolute" top="0" left="0" height="1262" width="892">

<image top="0" left="0" width="892" height="84" src="{{template_folder}}/banner_p2.png"/>

<text top="-10" left="39" width="800" height="72" font="2" shrink="True"><b>{{country_data.country}}</b></text>

<!-- Row -->
{% set top = 95 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Children (under 5) nutrition status</b></text>

<!-- Charts 8, 9, and 10 -->
{% set top = top + 30 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Under 5: wasting (%)</b></text>
<image top="{{top + 28}}" left="{{left}}" width="240" height="200" src="charts_world/{{country_data.country}}/c8.png"/>

<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top+10}}" y2="{{top+256}}" on="1"  off="0" color="{{dark_grey}}"></line>
<text top="{{top}}" left="{{left+276}}" width="151" height="18" font="6"><b>Under 5: stunting (%)</b></text>
<image top="{{top + 28}}" left="{{left+276}}" width="240" height="200" src="charts_world/{{country_data.country}}/c9.png"/>

<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top+10}}" y2="{{top+256}}" on="1"  off="0" color="{{dark_grey}}"></line>
<text top="{{top}}" left="{{left+556}}" width="151" height="18" font="6"><b>Under 5: overweight (%)</b></text>
<image top="{{top + 28}}" left="{{left+556}}" width="240" height="200" src="charts_world/{{country_data.country}}/c10.png"/>

{% set top = top + 245 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top-2}}" y2="{{top+16}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top-6}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: UNICEF/WHO/World Bank Group: Joint child</text>
<text top="{{top+5}}" left="{{left+4}}" width="28" height="10" font="9"> malnutrition estimates.</text>

<line x1="{{left+276}}" x2="{{left+276}}" y1="{{top-2}}" y2="{{top+16}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top-6}}" left="{{left+280}}" width="28" height="10" font="9"><b>Sources</b>: UNICEF/WHO/World Bank Group: Joint child</text>
<text top="{{top+5}}" left="{{left+280}}" width="28" height="10" font="9"> malnutrition estimates.</text>

<line x1="{{left+556}}" x2="{{left+556}}" y1="{{top-2}}" y2="{{top+16}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top-6}}" left="{{left+560}}" width="28" height="10" font="9"><b>Sources</b>: UNICEF/WHO/World Bank Group: Joint child</text>
<text top="{{top+5}}" left="{{left+560}}" width="28" height="10" font="9"> malnutrition estimates.</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+21}}" y2="{{top+21}}" width="1" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Charts 11, 12, and 13 -->
{% set top = top + 26 %}
<text top="{{top}}" left="{{left-10}}" width="151" height="18" font="6"><b>Under 5 by household income: wasting (%)</b></text>
<image top="{{top + 28}}" left="{{left}}" width="240" height="200" src="charts_world/{{country_data.country}}/c11.png"/>

<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top+10}}" y2="{{top+256}}" on="1"  off="0" color="{{dark_grey}}"></line>
<text top="{{top}}" left="{{left+266}}" width="151" height="18" font="6"><b>Under 5 by household income: stunting (%)</b></text>
<image top="{{top + 28}}" left="{{left+276}}" width="240" height="200" src="charts_world/{{country_data.country}}/c12.png"/>

<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top+10}}" y2="{{top+256}}" on="1"  off="0" color="{{dark_grey}}"></line>
<text top="{{top}}" left="{{left+546}}" width="151" height="18" font="6"><b>Under 5 by household income: overweight (%)</b></text>
<image top="{{top + 28}}" left="{{left+556}}" width="240" height="200" src="charts_world/{{country_data.country}}/c13.png"/>

{% set top = top + 245 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top-2}}" y2="{{top+16}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top-6}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: UNICEF/WHO/World Bank Group: Joint child</text>
<text top="{{top+5}}" left="{{left+4}}" width="28" height="10" font="9"> malnutrition estimates.</text>

<line x1="{{left+276}}" x2="{{left+276}}" y1="{{top-2}}" y2="{{top+16}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top-6}}" left="{{left+280}}" width="28" height="10" font="9"><b>Sources</b>: UNICEF/WHO/World Bank Group: Joint child</text>
<text top="{{top+5}}" left="{{left+280}}" width="28" height="10" font="9"> malnutrition estimates. n = {{country_data.stunting_percent_income_n}}</text>

<line x1="{{left+556}}" x2="{{left+556}}" y1="{{top-2}}" y2="{{top+16}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top-6}}" left="{{left+560}}" width="28" height="10" font="9"><b>Sources</b>: UNICEF/WHO/World Bank Group: Joint child</text>
<text top="{{top+5}}" left="{{left+560}}" width="28" height="10" font="9"> malnutrition estimates. n = {{country_data.overweight_percent_income_n}}</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+21}}" y2="{{top+21}}" width="1" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Charts 14, 15, and 16 -->
{% set top = top + 26 %}
<text top="{{top}}" left="{{left-15}}" width="151" height="18" font="6"><b>Under 5 by household location: wasting (%)</b></text>
<image top="{{top + 28}}" left="{{left}}" width="240" height="200" src="charts_world/{{country_data.country}}/c14.png"/>

<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top+10}}" y2="{{top+256}}" on="1"  off="0" color="{{dark_grey}}"></line>
<text top="{{top}}" left="{{left+261}}" width="151" height="18" font="6"><b>Under 5 by household location: stunting (%)</b></text>
<image top="{{top + 28}}" left="{{left+276}}" width="240" height="200" src="charts_world/{{country_data.country}}/c15.png"/>

<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top+10}}" y2="{{top+256}}" on="1"  off="0" color="{{dark_grey}}"></line>
<text top="{{top}}" left="{{left+546}}" width="151" height="18" font="6"><b>Under 5 by household location: overweight (%)</b></text>
<image top="{{top + 28}}" left="{{left+556}}" width="240" height="200" src="charts_world/{{country_data.country}}/c16.png"/>

{% set top = top + 245 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top-2}}" y2="{{top+16}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top-6}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: UNICEF/WHO/World Bank Group: Joint child</text>
<text top="{{top+5}}" left="{{left+4}}" width="28" height="10" font="9"> malnutrition estimates.</text>

<line x1="{{left+276}}" x2="{{left+276}}" y1="{{top-2}}" y2="{{top+16}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top-6}}" left="{{left+280}}" width="28" height="10" font="9"><b>Sources</b>: UNICEF/WHO/World Bank Group: Joint child</text>
<text top="{{top+5}}" left="{{left+280}}" width="28" height="10" font="9"> malnutrition estimates. n = {{country_data.stunting_percent_location_n}}</text>

<line x1="{{left+556}}" x2="{{left+556}}" y1="{{top-2}}" y2="{{top+16}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top-6}}" left="{{left+560}}" width="28" height="10" font="9"><b>Sources</b>: UNICEF/WHO/World Bank Group: Joint child</text>
<text top="{{top+5}}" left="{{left+560}}" width="28" height="10" font="9"> malnutrition estimates. n = {{country_data.overweight_percent_location_n}}</text>

<!-- Row -->
<!-- Chart 17 -->
{% set top = top + 26 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Under-5 coexistence of wasting, stunting and overweight</b></text>
<image top="{{top+25}}" left="{{left}}" width="800" height="250" src="charts_world/{{country_data.country}}/c17.png"/>

<line x1="{{left}}" x2="{{left}}" y1="{{top+275}}" y2="{{top+293}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+271}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: UNICEF, Division of Data Research and Policy (2018), Global UNICEF Global Databases: Overlapping Stunting, Wasting and Overweight, New York, May 2018.</text>
<text top="{{top+282}}" left="{{left+4}}" width="28" height="10" font="9"><b>Notes</b>: Percentage of children under 5 years of age who experience different and overlapping forms of malnutrition. n = {{country_data.coexistence_n}}</text>

<!-- Footer -->
<image top="1233" left="0" width="892" height="29" src="{{template_folder}}/footer.png"/>
<text top="{{bottom}}" left="{{left}}" width="28" height="17" font="4">{{page}}</text>
{% set page = page + 1 %}
</page>
<page number="3" position="absolute" top="0" left="0" height="1262" width="892">

<image top="0" left="0" width="892" height="84" src="{{template_folder}}/banner_p2.png"/>

<text top="-10" left="39" width="800" height="72" font="2" shrink="True"><b>{{country_data.country}}</b></text>

<!-- Row -->
{% set top = 95 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Child feeding practices</b></text>

<!-- Chart 18 -->
{% set top = top + 20 %}
<image top="{{top+20}}" left="{{left}}" width="800" height="210" src="charts_world/{{country_data.country}}/c18.png"/>
<image top="{{top+20}}" left="{{left}}" width="450" height="210" src="charts_world/{{country_data.country}}/c18a.png"/>
<image top="{{top+20}}" left="{{left+450}}" width="350" height="210" src="charts_world/{{country_data.country}}/c18b.png"/>
<line x1="{{left}}" x2="{{left}}" y1="{{top+265}}" y2="{{top+271}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+260}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: UNICEF, Division of Data Research and Policy (2018), Global UNICEF Global Databases: Infant and Young Child Feeding, New York, May 2018. n = {{country_data.c_feeding_n}}</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+285}}" y2="{{top+285}}" width="4" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Row -->
{% set top = top + 300 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Children and adolescent (aged 5–19) nutrition status</b></text>
<!-- Charts 19, 20, and 21 -->
{% set top = top + 21 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Ages 5–19 by gender: underweight (%)</b></text>
<image top="{{top + 28}}" left="{{left}}" width="240" height="190" src="charts_world/{{country_data.country}}/c19.png"/>

<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top+10}}" y2="{{top+236}}" on="1"  off="0" color="{{dark_grey}}"></line>
<text top="{{top}}" left="{{left+276}}" width="151" height="18" font="6"><b>Ages 5–19 by gender: overweight (%)</b></text>
<image top="{{top + 28}}" left="{{left+276}}" width="240" height="190" src="charts_world/{{country_data.country}}/c20.png"/>

<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top+10}}" y2="{{top+236}}" on="1"  off="0" color="{{dark_grey}}"></line>
<text top="{{top}}" left="{{left+556}}" width="151" height="18" font="6"><b>Ages 5–19 by gender: obesity (%)</b></text>
<image top="{{top + 28}}" left="{{left+556}}" width="240" height="190" src="charts_world/{{country_data.country}}/c21.png"/>

{% set top = top + 225 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="28" height="10" font="9"><b>Source</b>: NCD Risk Factor Collaboration. n = {{country_data.adolescent_underweight_n}}</text>

<line x1="{{left+276}}" x2="{{left+276}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+280}}" width="28" height="10" font="9"><b>Source</b>: NCD Risk Factor Collaboration. n = {{country_data.adolescent_overweight_n}}</text>

<line x1="{{left+556}}" x2="{{left+556}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+560}}" width="28" height="10" font="9"><b>Source</b>: NCD Risk Factor Collaboration. n = {{country_data.adolescent_obesity_n}}</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+21}}" y2="{{top+21}}" width="4" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Row -->
{% set top = top + 30 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Adult nutrition status</b></text>
<!-- Charts 22, 23, and 24 -->
{% set top = top + 21 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Adult by gender: diabetes (%)</b></text>
<image top="{{top + 28}}" left="{{left}}" width="240" height="190" src="charts_world/{{country_data.country}}/c22.png"/>

<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top+10}}" y2="{{top+246}}" on="1"  off="0" color="{{dark_grey}}"></line>
<text top="{{top}}" left="{{left+276}}" width="151" height="18" font="6"><b>Adult by gender: overweight (%)</b></text>
<image top="{{top + 28}}" left="{{left+276}}" width="240" height="190" src="charts_world/{{country_data.country}}/c23.png"/>

<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top+10}}" y2="{{top+246}}" on="1"  off="0" color="{{dark_grey}}"></line>
<text top="{{top}}" left="{{left+556}}" width="151" height="18" font="6"><b>Adult by gender: obesity (%)</b></text>
<image top="{{top + 28}}" left="{{left+556}}" width="240" height="190" src="charts_world/{{country_data.country}}/c24.png"/>

{% set top = top + 235 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="28" height="10" font="9"><b>Source</b>: NCD Risk Factor Collaboration. n = {{country_data.adult_diabetes_n}}</text>

<line x1="{{left+276}}" x2="{{left+276}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+280}}" width="28" height="10" font="9"><b>Source</b>: NCD Risk Factor Collaboration. n = {{country_data.adolescent_overweight_n}}</text>

<line x1="{{left+556}}" x2="{{left+556}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+560}}" width="28" height="10" font="9"><b>Source</b>: NCD Risk Factor Collaboration. n = {{country_data.adolescent_obesity_n}}</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+21}}" y2="{{top+21}}" width="1" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Charts 25, 26, and 27 -->
{% set top = top + 15 %}
<text top="{{top+11}}" left="{{left-10}}" width="151" height="18" font="6"><b>Adult by gender: raised blood pressure (%)</b></text>
<image top="{{top + 39}}" left="{{left}}" width="240" height="190" src="charts_world/{{country_data.country}}/c25.png"/>

<line x1="{{left+256}}" x2="{{left+256}}" y1="{{top+21}}" y2="{{top+256}}" on="1"  off="0" color="{{dark_grey}}"></line>
<text top="{{top+11}}" left="{{left+276}}" width="151" height="18" font="6"><b>Adult by gender: anaemia in WRA (%)</b></text>
<image top="{{top + 39}}" left="{{left+276}}" width="240" height="190" src="charts_world/{{country_data.country}}/c26.png"/>

<line x1="{{left+536}}" x2="{{left+536}}" y1="{{top+21}}" y2="{{top+256}}" on="1"  off="0" color="{{dark_grey}}"></line>
<text top="{{top+11}}" left="{{left+556}}" width="151" height="18" font="6"><b>Adult: sodium intake (grams per day)</b></text>
<image top="{{top + 39}}" left="{{left+556}}" width="240" height="190" src="charts_world/{{country_data.country}}/c27.png"/>

{% set top = top + 245 %}
<line x1="{{left}}" x2="{{left}}" y1="{{top+5}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top}}" left="{{left+4}}" width="28" height="10" font="9"><b>Source</b>: NCD Risk Factor Collaboration. n = {{country_data.adult_blood_pressure_n}}</text>

<line x1="{{left+276}}" x2="{{left+276}}" y1="{{top-6}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top-11}}" left="{{left+280}}" width="28" height="10" font="9"><b>Source</b>: WHO Global Health Observatory.</text>
<text top="{{top}}" left="{{left+280}}" width="28" height="10" font="9"><b>Note</b>: WRA = women of reproductive age.</text>

<line x1="{{left+556}}" x2="{{left+556}}" y1="{{top-6}}" y2="{{top+11}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top-11}}" left="{{left+560}}" width="28" height="10" font="9"><b>Source</b>: Global Burden of Disease, the Institute for</text>
<text top="{{top}}" left="{{left+560}}" width="28" height="10" font="9">Health Metrics and Evaluation.</text>

<!-- Footer -->
<image top="1233" left="0" width="892" height="29" src="{{template_folder}}/footer.png"/>
<text top="{{bottom}}" left="{{left}}" width="28" height="17" font="4">{{page}}</text>
{% set page = page + 1 %}
</page>
<page number="4" position="absolute" top="0" left="0" height="1262" width="892">

<image top="0" left="0" width="892" height="84" src="{{template_folder}}/banner_p2.png"/>

<text top="-10" left="39" width="800" height="72" font="2" shrink="True"><b>{{country_data.country}}</b></text>

<!-- Row -->
{% set top = 95 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Dietary needs</b></text>
<text top="{{top+20}}" left="{{left}}" width="151" height="18" font="6"><b>Consumption of food groups and components, 2016</b></text>

<!-- Chart 28 -->
{% set top = top + 20 %}
<image top="{{top+20}}" left="{{left+75}}" width="653" height="320" src="{{template_folder}}/Fig-4-7.png"/>
<line x1="{{left}}" x2="{{left}}" y1="{{top+355}}" y2="{{top+370}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+350}}" left="{{left+4}}" width="28" height="10" font="9"><b>Source</b>: Global Burden of Disease, the Institute for Health Metrics and Evaluation.</text>
<text top="{{top+361}}" left="{{left+4}}" width="28" height="10" font="9"><b>Notes</b>: Men and women aged 25 and older. TMREL = theoretical minimum risk exposure level.</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+380}}" y2="{{top+380}}" width="4" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Row -->
{% set top = top + 400 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Financial resources and policy, legislation and institutional arrangements</b></text>

<!-- Chart 29 -->
{% set top = top + 20 %}
<text top="{{top}}" left="{{left}}" width="151" height="18" font="6"><b>Development assistance</b></text>
<image top="{{top+20}}" left="{{left}}" width="400" height="190" src="charts_world/{{country_data.country}}/c29.png"/>
<line x1="{{left}}" x2="{{left}}" y1="{{top+214}}" y2="{{top+247}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+209}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: Development Initiatives based on OECD Development Assistance Committee (DAC)</text>
<text top="{{top+218}}" left="{{left+4}}" width="28" height="10" font="9"> Creditor Reporting System (CRS).</text>
<text top="{{top+227}}" left="{{left+4}}" width="28" height="10" font="9"><b>Notes</b>: ODA = official development assistance. Amounts based on gross ODA per capita, constant</text>
<text top="{{top+236}}" left="{{left+4}}" width="28" height="10" font="9">2016 prices. Figure includes ODA grants and loans, but excludes other official flows and private grants.</text>

<line x1="{{left+420}}" x2="{{left+420}}" y1="{{top+10}}" y2="{{top+241}}" on="1"  off="0" color="{{dark_grey}}"></line>

<!-- Table 6 -->
<text top="{{top}}" left="{{left+440}}" width="151" height="18" font="6"><b>National policies</b></text>
<table data="table6" top="{{top+30}}" left="{{left+440}}" widths="300,50" height="150"></table>
<line x1="{{left+440}}" x2="{{left+440}}" y1="{{top+205}}" y2="{{top+238}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+200}}" left="{{left+444}}" width="28" height="10" font="9"><b>Sources</b>: Global Fortification Data Exchange 2018; Sugar-sweetened data prepared using</text>
<text top="{{top+209}}" left="{{left+444}}" width="28" height="10" font="9"> data from the NOURISHING database, academic references and market reports; FAO 2018;</text>
<text top="{{top+218}}" left="{{left+444}}" width="28" height="10" font="9">  WHO Global database on the Implementation of Nutrition Action (GINA),</text>
<text top="{{top+227}}" left="{{left+444}}" width="28" height="10" font="9">   2nd Global Nutrition Policy Review.</text>

<!-- Row -->
{% set top = top + 255 %}
<text top="{{top}}" left="{{left}}" width="241" height="18" font="6"><b>Targets included in national (nutrition or other) plan</b></text>

<!-- Table 7 -->
{% set top = top + 25 %}
<table data="table7" top="{{top}}" left="{{left}}" width="812" height="70"></table>
<line x1="{{left}}" x2="{{left}}" y1="{{top+85}}" y2="{{top+91}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+80}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: WHO Global database on the Implementation of Nutrition Action (GINA), 2nd Global Nutrition Policy Review.</text>

<line x1="{{left}}" x2="{{right}}" y1="{{top+105}}" y2="{{top+105}}" width="4" color="{{dark_grey}}" on="1" off="0"></line>

<!-- Row -->
{% set top = top + 125 %}
<text top="{{top}}" left="0" width="241" height="18" font="3"><b>Intervention coverage</b></text>

<!-- Table 8 -->
{% set top = top + 40 %}
<table data="table8" top="{{top}}" left="{{left}}" widths="500,65,65,65,65,65" height="200" heights="50,30,30,30,30,30"></table>
<line x1="{{left}}" x2="{{left}}" y1="{{top+215}}" y2="{{top+231}}" on="1" off="0" color="{{aqua_light}}" width="2"></line>
<text top="{{top+210}}" left="{{left+4}}" width="28" height="10" font="9"><b>Sources</b>: Kothari M. and Huestis A., based on <i>2016 Global Nutrition Report</i> and UNICEF global databases, 2018.</text>
<text top="{{top+220}}" left="{{left+4}}" width="28" height="10" font="9"><b>Notes</b>: Data is compiled using STATcompiler and taken from country Demographic and Health Surveys for 2005–2017.</text>



<!-- Footer -->
<image top="1233" left="0" width="892" height="29" src="{{template_folder}}/footer.png"/>
<text top="{{bottom}}" left="{{left}}" width="28" height="17" font="4">{{page}}</text>
<text top="{{bottom-4}}" left="{{right-365}}" width="254" height="14" font="25"><link href="http://globalnutritionreport.org/the-report/technical-notes">For complete source information:  globalnutritionreport.org/the-report/technical-notes</link></text>
<text top="{{bottom+7}}" left="{{right-215}}" width="230" height="14" font="24"><b>© 2018 Development Initiatives Poverty Research Ltd.</b></text>
{% set page = page + 1 %}
</page>
</pdf2xml>
